[2021-01-04 12:51] Fryboyter commented on #678
But not everyone can use Docker. For example, I use uberspace.de as my webspace provider. There you have significantly more rights than with a normal webspace, but not enough for things like Docker.

I therefore use the installation via pip install isso. However, this type of installation does not work smoothly due to https://github.com/posativ/isso/issues/617. At least that was the case a few wee

[2021-01-08 21:33] EchedeyLR commented on #671
Thank you @pawamoy for reporting this issue and @jefft for pointing the mess here.

I am newbie trying to configure Isso for first time and got into issues trying to understand how the maintainer structured and set the configs as I got the gunicorn server started but Isso didn't work.

Seems it is better to install Isso from PyPi after all.

[2021-01-10 11:10] EchedeyLR commented on #647
I am on the same issue.

[2021-01-13 08:11] fluffy-critter opened #679 "Privacy issues"
The `/id` endpoint makes it way too easy for someone to download all comments on a site, even ones on pages which aren't from publicly-known URIs. This is a potential privacy concern for folks using isso in a semi-private context, such as comments on friends-only posts, and this is made much worse by the use of auto-incrementing comment IDs (see the recent Parler privacy fiasco for a perfect examp

[2021-01-15 01:00] damnms opened #681 "problems reaching embed.js on debian"
i installed isso with apt-get install isso

my apache2 config for the isso.mydomain.tld:

[code]

[code]

but when i try to reach isso.mydomain.de/js/embed.min.js it only prints /mydomain.de
that .js file is at /usr/lib/python3/dist-packages/isso/js/embed.min.js - wondering if that gunicorn-thingen uses  /usr/lib/python3/dist-packages/isso as working directory. unfortunately, i have no idea of gun

[2021-01-15 12:20] damnms commented on #681
solved, thanks to mETz in #isso

on debian its at //mydomain.de/mydomain.de/js/embed.min.js
or when using subdomains, then: //subdomain.domain.tld/domain.tld/js/embed.min.js

[2021-01-15 12:20] #681 closed

[2021-01-15 12:27] damnms commented on #297
same problem here... isso is not working (debian version) which runs with gunicorn
Access to XMLHttpRequest at 'https://isso.xxx.de/count' from origin 'https://xxx.de' has been blocked by CORS policy: Response to preflight request doesn't pass access control check: It does not have HTTP ok status.
embed.min.js:13 POST https://isso.xxx.de/count net::ERR_FAILED

[2021-01-15 20:38] ix5 commented on #659
Fixed by https://github.com/posativ/isso/pull/660, please close.

[2021-01-15 20:39] #659 closed

[2021-01-15 20:48] ix5 commented on #679
1. Is comparatively easy to implement, you will have to change the DB schema (and implement a migration) though to implement UUID-based comment `id`s. The schema is defined in [isso/db/comments.py](https://github.com/posativ/isso/blob/944e4846847abc9b252f9b016158e336ffb77443/isso/db/comments.py#L39).

2. Can be implemented in an easy and a hard way.
  - The easy way would check if the requesting U

[2021-01-15 20:55] fluffy-critter commented on #679
I also don't think isso is gaining complexity, but its design is kind of simplistic in a way that has made it much more difficult to extend in the ways that people want it to be extended. I had adopted it out of expediency in needing to get off of Disqus, but I've run into too many places where its design assumes things that just don't work for my site and I think it's time for me to just design m

[2021-01-15 21:03] ix5 opened #682 "[Discussion][Multi-Site] Future of cookies with SameSite and Secure"
As of 2021-01, Firefox 84 warns when hosting isso on a subdomain and accessing cookies.

Repro:
- Isso hosted at `comments.example.com`
- "Blog" hosted at `example.com`

**Warning:**
[code]
with a link to [MDM SameSite cookies](https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Set-Cookie/SameSite).

**Cause:**
In [isso/views/comments.py](https://github.com/posativ/isso/blob/944e4846847abc9

[2021-01-15 21:07] ix5 commented on #629
Fixed by https://github.com/posativ/isso/pull/631

[2021-01-15 21:08] ix5 commented on #677
This can be closed then.

[2021-01-15 21:10] ix5 commented on #679
The thread checking is the easiest to implement for now. You will have to add the thread URI to a lot of places though, since the `/id` endpoint is manipulated directly quite often.
Do you want to have a go at it? I could handle the python side if you want.

[2021-01-15 21:11] fluffy-critter commented on #629
Yep, don't know why the merge didn't automatically close the issue. Oops.

[2021-01-15 21:11] #629 closed

[2021-01-15 21:13] ix5 commented on #643
Please close.

[2021-01-15 21:18] ix5 commented on #651
@jefft would you mind creating a PR that addressed this? You should add a suggestion to copy the default `isso.conf` and mention that the `host` field must be configured.

[2021-01-15 21:19] fluffy-critter commented on #679
I'd be much more comfortable working on the python side. But from the javascript side I only saw one place where the `/id` GET path was touched directly, namely in rendering the submitted comment (which would be better served as a payload that comes directly from the comment submission response, at https://github.com/posativ/isso/blob/944e4846847abc9b252f9b016158e336ffb77443/isso/js/app/isso.js#L2

[2021-01-15 21:29] fluffy-critter commented on #679
Oh wait I see, the `api.view` call isn't even used to render the edited comment, but to get the raw Markdown that was originally submitted. I think that it'd be fine to just protect that with the same auth cookie that is present for the edit submission as well.

[2021-01-15 21:46] ix5 commented on #647
The main issue is that isso isn't aware of any "host" parameter, it only records a relative `uri` path component. As such, only the uri component is rendered in the admin interface: [admin.html](https://github.com/posativ/isso/blob/944e4846847abc9b252f9b016158e336ffb77443/isso/templates/admin.html#L81).

I've decided for myself to use full URLs instead of paths, see [uri-location-full](https://git

[2021-01-15 21:53] ix5 commented on #653
I'm a bit puzzled why this would happen.
For later reference:
https://github.com/posativ/isso/blob/944e4846847abc9b252f9b016158e336ffb77443/isso/views/comments.py#L1117-L1118
https://github.com/posativ/isso/blob/944e4846847abc9b252f9b016158e336ffb77443/isso/templates/login.html#L23
https://github.com/posativ/isso/blob/944e4846847abc9b252f9b016158e336ffb77443/isso/views/comments.py#L1105-L1108

[2021-01-15 21:56] ix5 commented on #285
@fluffy-critter @jelmer another candidate for closing.

[2021-01-15 22:06] ix5 commented on #679
Another aspect just popped into my head: You're gonna break `order_by=id` by switching to UUIDs.
https://github.com/posativ/isso/blob/944e4846847abc9b252f9b016158e336ffb77443/isso/db/comments.py#L201

Ordering by `id` is used e.g. for the feed, so it'd be better to switch it to `created` or `modified` in the relevant places.

[2021-01-15 22:07] ix5 commented on #621
@jelmer @fluffy-critter this one should be closed as well.

[2021-01-15 22:09] fluffy-critter commented on #621
I'm curious as to why you're pinging me on everything. I'm not a core member of this repo.

[2021-01-15 22:09] ix5 commented on #286
This would be quite neat. For other inspiration, I'd suggest looking at [svbtle](https://svbtle.com/)'s *kudos* button - in action e.g. at [dcurt.is](https://dcurt.is/).

[2021-01-15 22:11] ix5 commented on #621
You have moderator privs. But I'll cease if it bothers you.

[2021-01-15 22:13] fluffy-critter commented on #621
Thanks. I'm not interested in being a core maintainer of isso. :)

[2021-01-15 22:34] fluffy-critter commented on #679
Good point. Ordering by `id` is generally useless anyway, since it doesn't really have any bearing on what any site user is going to care about (and in the case of e.g. Disqus imports, the ID is pretty much arbirarily-ordered anyway).

[2021-01-16 12:14] stefangehn commented on #679
I had a different idea but didn't try it out in code yet:
- add a secret key to isso config
- generate a hash based on the database id and the secret key
- only work with the generated hash in the API, do not give out db identifiers

To make migrations from one url scheme to another still possible I would calculate the hash on the fly.
It might be that this approach is overkill after reading the p

[2021-01-16 13:30] stefangehn commented on #625
If isso was built with misaka 1.x then it's `fenced_code` (the Debian 10 package of isso still uses misaka 1.x).
If issa was built with misaka 2.x (i.e. the current version in master or if you installed it via pip) then it's `fenced-code`.

[2021-01-16 15:19] ix5 commented on #679
@fluffy-critter's current solution depends on the thread URLs being un-guessable to guard against scraping.

The general idea is that the comment id is they "key" and the thread uri is the "password". The "key" can always be derived from the password since everyone is able to fetch comments for any URI.

Your encryption of the key will not change that.

BTW, there's also a PR ongoing about [restri

[2021-01-16 19:20] fluffy-critter commented on #679
So FWIW I actually use a hashing scheme as part of the thread URI generation. Page URIs are decoupled from thread URIs. Obviously the thread URI is visible in the page source for anyone with access to the page but anyone who can see a page can see the thread anyway. Also for the sake of reply notifications I have my site set up to redirect the thread URI back to the page URI (the hashed thread URI

[2021-01-17 08:52] Fryboyter commented on #682
According to the documentation, the entry for host with http only exists because of Firefox users who completely suppress the HTTP referer. As far as I know, this must be configured explicitly via about:config.

In my configuration, the entries were previously in reverse order. So first https and then http. There have been no complaints so far. I just tested it and completely removed the http entr

[2021-01-17 10:20] eabase commented on #677
Well it look to me that you still need to install several extensions and use a particular back-end. So that is not clear at all from the README or any related install pages. We need a step-by-step installation instructions.

[2021-01-17 10:21] #677 closed

[2021-01-17 18:46] ix5 commented on #310
Note for anyone coming across this: As of misaka 2.0 (which Isso 0.12.2+ uses), you have to use dashes instead of underscores.
https://github.com/FSX/misaka/blob/981fd9851bd38e9105d3d1bf8e931d0e0558343f/misaka/utils.py#L15-L30

[2021-01-17 19:03] ix5 commented on #677
@eabase I've tried to improve the documentation for you. Maybe there should be a concise "What markup can I use by default?" section somewhere in the docs.

[2021-01-17 19:05] ix5 commented on #625
Tried to improve the docs regarding that issue, see https://github.com/posativ/isso/pull/684

By default, Isso 0.12.2+ already have fenced-code enabled for you @poblabs.

[2021-01-17 19:22] ix5 commented on #682
That's my current solution https://github.com/ix5/isso/tree/secure-cookie

[2021-01-18 11:31] #643 closed

[2021-01-20 10:33] ix5 commented on #286
@gyger https://github.com/ix5/isso/tree/thanks-mvp
![output](https://user-images.githubusercontent.com/10212877/105162738-4c725680-5b13-11eb-8c83-30a1f395da30.gif)

[2021-01-20 14:17] gyger commented on #286
@ix5 Yes this is exactly what I was thinking of. Something to say thank you, without having to write a lot.

[2021-01-20 14:39] ix5 commented on #286
Feel free to take the code and make a workable PR out of it ;)

You'll need to work out a few kinks and make a few decisions that I haven't made yet:
- Proper endpoints (`reactions`? `thanks`? `likes`?) and consistent naming
- Tests...
- Decide on a database schema that makes more sense than mine (do you want only one type of reaction or extensibility?)
- How configurable should the client side be

[2021-01-20 21:25] gyger commented on #286
Thanks, I am currently a little bit busy, but will keep it in the task list. If someone else wants to make a PR out of it feel free.

[2021-01-29 17:07] Planetlinux-de opened #691 "Status of the project"
Hello,

because there has been no reaction from the developers to the last issues such as #678, although some of them have been active on Github recently (for example @jelmer or @blatinier), I would like to ask about the status of the project.

Are the developers still interested in the Isso project? If so, is there anything that interested people can help with, for example to release a new offici

[2021-01-29 17:26] jelmer commented on #691
FWIW I don't consider Commento an alternative for isso - it's not free software nor self-hosted.

That said, my priorities are elsewhere at the moment and I don't really have time to spend on isso unfortunately.

@posativ has been open to other people chiming in to help with maintenance in the past, and I suspect they would welcome more maintainers.

I don't think the status of any free software p

[2021-01-29 18:29] Planetlinux-de commented on #691
Hello jelmer,

Thank you very much for your quick feedback.

Commento is published under the MIT licence (https://gitlab.com/commento/commento/-/blob/master/LICENSE) and you can also host the system yourself (https://docs.commento.io/installation/self-hosting/) if you wish. But Commento was only the first best example of an alternative I could think of. :-)

Which, as noted in my post, is absolute

[2021-01-29 19:32] jelmer commented on #691
I stand corrected - I assumed it was proprietary and hosted from a quick glance at its homepage.

That does still happen. I do keep an eye on important changes that come in, and do merge requests where I can easily verify that they're correct. Unfortunately the test coverage in isso isn't great and so I err on the side of caution when it e.g. comes to new features.

This is actually fixed in trunk

[2021-01-30 13:16] stefangehn commented on #691
Is there a ticket about the javascript build failures? So far I haven't found out what the exact problem is.

I do have a local branch that gets rid of bower and uses npm to install the latest versions of all required dependencies and at least a local build works fine for me. I can turn that into a PR but held back with submitting that so far.

[2021-01-30 13:17] stefangehn commented on #676
I don't think there is anything isso does that would explain such delays, it's probably a badly overbooked VM host.

[2021-01-30 14:17] jelmer commented on #691
I don't think there's a separate issue for it, but I mentioned it in #617

Anything that makes the JavaScript build simpler is a win IMO, so I'd encourage you to submit that PR :)

[2021-02-01 16:29] #347 closed

[2021-02-01 18:44] stefangehn commented on #691
there you go #695 is what I had in mind :)

[2021-02-01 20:03] blatinier commented on #691
I think that with the discussion is now off topic :)
@stefangehn The improvement of the js build process you did is great!
Another thing to would would be to bring this 90's flavored JS back to the present with some ES6, or maybe some modern framework (Vue, React, you name it…)
As for this issue I close it.

[2021-02-01 20:03] #691 closed

[2021-02-03 17:09] iomintz commented on #286
I'd also appreciate a few more reactions like Disqus does:
![screenshot of reaction buttons, upvote, funny, love, surprised, angry, and sad, with a count of each reaction](https://user-images.githubusercontent.com/538336/106782698-18695c00-6610-11eb-8eeb-7ad411734825.png)

[2021-02-03 18:55] stefangehn commented on #682
Since isso can probably not figure out if it's only served over https (and not http) maybe a config option would be the easiest way out, at least for the `Secure` setting.

For comparison, Gitea has a `COOKIE_SECURE` setting in its [session config](https://docs.gitea.io/en-us/config-cheat-sheet/#session-session) that controls this.

[2021-02-03 21:13] ix5 commented on #682
I'm wary of adding yet another config option that users have to think about. We should be able to re-use the [`public-endpoint`](https://github.com/posativ/isso/blob/af26e201f81d3106036c7302d38ea24c2e203977/share/isso.conf#L105) from the `[server]` section.

[2021-02-03 21:43] blatinier commented on #623
The CSS override is a good solution for that. I close this issue.

[2021-02-03 21:43] #623 closed

[2021-02-03 21:52] blatinier commented on #569
The network layer is not the job of isso. Running through gunicorn is the good way to go here.

[2021-02-03 21:52] #569 closed

[2021-02-04 00:16] yeehi opened #701 "Isso - How to replace Disqus on Wordpress?"
Many people may have had Disqus installed by default on their Wordpress website.
https://wordpress.org/plugins/disqus-comment-system/

Is there an easy (one click) way to remove Disqus and replace it with Isso?

I think an Isso plugin for Wordpress might encourage more widespread usage.

[2021-02-04 18:40] stefangehn commented on #682
If that works reliable then I would of course also prefer to have no additional options :)

I was just thinking about all the different ways how you can proxy a webapp these days and the (possibly) varying amount of information forwarded to the app (for nginx you usually need to ensure to include `uwsgi_params` or `proxy_params` to get a complete set of variables and many examples instead just def

[2021-02-04 21:07] ix5 commented on #622
@bastidest did setting `public-endpoint` resolve the issue for you?

[2021-02-04 21:40] ix5 commented on #464
I think installing from source is [well-documented](https://posativ.org/isso/docs/install/#install-from-source) now. @hamoid do you want to close this?

[2021-02-04 21:44] ix5 commented on #601
@lunawen can you close this issue?

[2021-02-04 23:16] #601 closed

[2021-02-05 07:29] hamoid commented on #464
Right. I'll close it and a new issue could be opened if there's any issues upgrading. Thank you!

[2021-02-05 07:29] #464 closed

[2021-02-05 08:16] #682 closed

[2021-02-05 08:21] ix5 commented on #701
Adding custom javascript to wordpress is already quite well documented.

There definitely isn't a one-click solution as isso is by design self-hosted. I am not aware of anyone providing public isso instances for everyone to use (not sure that's currently even feasible, with CORS and whatnot - and in any case, that'd be a nightmare to administer).

An wordpress plugin for isso couldn't do very much

[2021-02-05 08:23] ix5 commented on #678
The maintainers just released [0.12.4](https://pypi.org/project/isso/0.12.4/) and are very responsive to well-written PRs.
Thanks, @jelmer and @blatinier !

I think this can be closed.

[2021-02-05 08:27] ix5 commented on #676
Isso always responds in under 0.001s for me. Have you tried using the `profile` option to trace the issue?

[2021-02-05 08:29] ix5 commented on #675
You can hook the `submit` function, but you have to re-compile the generated javascript.
https://github.com/posativ/isso/blob/08703d03ace7089f157fbdf5d560209c66d713e1/isso/js/app/isso.js#L83-L114

You would have to fork the isso repo to make your changes though and update your Dockerfile to point to your fork.

[2021-02-05 08:59] staeff777 commented on #676
Thank you very much. I found the issue. The issue came from werkzeug https://werkzeug.palletsprojects.com/en/1.0.x/serving/#troubleshooting . I tried to use the wrong interface.

Sorry for not coming back to close it.

[2021-02-05 08:59] #676 closed

[2021-02-05 09:32] ix5 commented on #658
I've tried making the install from source section more clear in https://github.com/posativ/isso/pull/703

[2021-02-05 13:01] jelmer commented on #656
@madranet Yes, from pip directly would have worked - from git using pip has never worked - as you point out, due to the fact that the javascript doesn't get built in that case.

[2021-02-05 13:02] #678 closed

[2021-02-10 06:06] farooqkz opened #705 "Add support for LMDB"
https://en.wikipedia.org/wiki/Lightning_Memory-Mapped_Database

### Why LMDB?
 - Isn't key value store much less complicated than traditional sqlite?
 - It seems that according to benchmarks LMDB outperforms sqlite3
 - It is still a library DB and not dedicated.

[2021-02-10 13:37] jelmer commented on #705
Performance should not really be a concern for most isso installations - it's meant to be small and self-hosted - and I haven't heard it being an issue in practice.

For the sort of data that isso stores, LDMB would actually make things more complicated as we now have to deal with some of the things that sqlite previously took care of - structured data.

We'd also have to introduce migration code

[2021-02-10 13:40] jelmer commented on #658
Closing this now that #703 has landed.

[2021-02-10 13:40] #658 closed

[2021-02-10 13:43] blatinier commented on #705
@farooqkz According to the wikipedia page you linked:
"Howard Chu ported SQLite 3.7.7.1 to use LMDB instead of its original B-tree code, calling the end result SQLightning"
Which closes the case right?

[2021-02-10 14:04] blatinier commented on #705
My bad, I read wrong. It's a fork called [SQLighttning](https://github.com/LMDB/sqlightning)
But even thought the performance table linked at the bottom of the repo suggest better result for SQLightning, it seems like this is not maintained anymore (no modification made in 8 years)
There is LumoSQL which seems maintained but it looks like more an experiment than a real db for now (I couldn't even

[2021-02-10 14:05] #701 closed

[2021-02-10 14:06] jelmer commented on #617
The new version of isso on pypi should address this.

[2021-02-10 14:06] #617 closed

[2021-02-11 06:15] farooqkz commented on #705
Your point is well seen. I close this issue.

[2021-02-11 06:15] #705 closed

[2021-02-11 06:48] farooqkz opened #706 "/latest API?"
Hello.
I cannot find out where can I access `/latest` API. Trying `isso_root/latest?limit=10` but getting 404 instead of JSON.
Using latest release from PyPI.
Any ideas?

[2021-02-12 01:48] jelmer commented on #706
Do you have the "latest-enabled" option enabled?

[2021-02-12 08:46] farooqkz commented on #706
Nope I have not and now I see why it was throwing back 404 to me...

Actually I was looking for an API just for admin with which admin, and just admin, could iterate over comments and do something like verify or delete on all comments matching a filter. This way any filter matching will be done client side with JS rather than server side.

[2021-02-12 08:49] farooqkz commented on #706
By the way, I saw that Github has marked me as contributor for this repo and I didn't remember what contributions I have made till I saw my PR :D

[2021-02-12 14:55] mishra-avinash commented on #239
do we have this feature now? I want to point it to the RDS database. Is it possible now?

[2021-02-15 01:09] huskier commented on #675
Thank you ix5.
Could we make this "hook the submit function" an official function?
Thanks.
Youbao

[2021-02-15 06:59] ix5 commented on #675
You can just add a listener for the submit button in your custom javascript. It makes no sense to bake any of this into isso.

[2021-02-15 19:23] #675 closed

[2021-02-15 19:57] ix5 commented on #706
@farooqkz would you mind closing this?

[2021-02-16 19:53] farooqkz commented on #706
You mean I close this one and open a separate issue for the question which I asked?

[2021-02-20 22:21] AlphaJack commented on #655
Any update on this?

[2021-02-21 19:57] AlphaJack opened #709 "Admin panel login redirects to /admin even with subdirectory enpoint"
Even with the public endpoint set like this

[code]

a successful login from https://example.org/comments/admin redirects to https://example.org/admin instead of https://example.org/comments/admin.

The login POST request is correctly sent to https://example.org/comments/login, and static assets are properly loaded from https://example.org/comments/css and https://example.org/comments/js.

[2021-02-25 07:06] ix5 commented on #709
Possible duplicate of https://github.com/posativ/isso/issues/653

[2021-02-25 07:54] ix5 commented on #653
I'm guessing Apache isn't passing the `/isso/` part of the URL.
Have you tried [this](https://danuker.go.ro/installing-isso-on-debian-apache.html)  instead of wrapping the proxy statements inside the sub-uri `Location` directive?

[code]

[2021-02-25 08:51] AlphaJack commented on #709
I saw that, but in that case the /isso/ part is kept, in my case it redirects directly to /.
Pheraps it cuts off the last part of the URL (/blog/ in his case, /comments/ in mine)?

[2021-02-25 09:59] ix5 commented on #709
It would help if you posted your whole server configuration, including proxy section.

I've tested with `/isso` as sub-uri and nginx as described in [Sub-URI](https://posativ.org/isso/docs/setup/sub-uri/) and it works fine.

[2021-02-25 11:33] AlphaJack commented on #709
Here is it:

Isso:
[code]

NginX:

[code]

[2021-02-25 11:38] ix5 commented on #709
You're missing
[code]

Also, you can leave the trailing slashes

[2021-02-25 15:58] AlphaJack commented on #709
Thank you, adding that proxy header fixed the issue

[2021-02-25 15:58] #709 closed

[2021-02-27 02:17] lmburns commented on #580
Did you ever figure this out?

[2021-02-27 04:23] lmburns opened #710 "isso loads on webpage, unable to post comments"
#### Problem
I am able to get `isso` to load on the webpage, as well as have acess to the admin page; however, the comment/post button does not do anything. The preview button works and so does everything else except for actually being able to post a comment.

#### Operating System
- Operating System: Debian GNU/Linux bullseye/sid
- Kernel: Linux 5.10.0-3-amd64

#### Webpage server
- Nginx

I have

[2021-02-27 14:29] stefangehn commented on #710
Check if you see a request ending up in your nginx log when hitting the submit button.
If you don't then check your browser console for errors.

[2021-02-27 20:09] lmburns commented on #710
I do see several entries.

[code]
I'm not sure the issue. Do you know of something else I could check?

[2021-02-27 20:29] lmburns commented on #710
Closing this, I tried so much to try and fix this. The issue was that it was attempting to write to a read-only database. When installing `isso` with `pip`, I was unable to specify a database that had not been created yet, and tried changing user permissions but still nothing. However, when installing with Debian, I specified the same file to be the database and saw that after hitting submit on th

[2021-02-27 20:29] #710 closed

[2021-03-01 17:44] EchedeyLR commented on #566
Did you try to submit a pull request about this?

[2021-03-01 18:13] ix5 commented on #566
The way I described in this thread is not suitable for prime time.

[2021-03-01 18:21] EchedeyLR commented on #566
Reference: https://github.com/posativ/isso/pull/711#issuecomment-788161527

Let's continue the discussion here better.

I am with the same issue as @joshcsullivan but in this case is related to issue that would have the main site if I embed the Isso as a sub-path with entries and other urls.

[2021-03-01 18:50] ix5 commented on #566
Isso should prepend the value of the (first) `host` from the `[general]` config section to `comment.uri`.

https://github.com/posativ/isso/blob/5ad5a08a7369e11363fb779360eba81b9f25c892/isso/templates/admin.html#L81

[2021-03-01 19:09] EchedeyLR commented on #566
I have public-endpoint set to comments.masfloss.net and host to masfloss.net. If I don't set public-endpoint, I have an issue with CORS rendering the masfloss.net site.

In the admin page I see the reference to every blog entry in masfloss.net as comments.masfloss.net/whatever-entry instead of masfloss.net/whatever-entry

[2021-03-01 19:18] ix5 commented on #566
I'm sorry, I wasn't being clear when I said "isso should"; I meant that we should change isso to act that way.

You said you "[..] don't know how to solve this issue since [you] don't understand the structure of Isso at all."

The two files I posted should give you a good starting point to fix this issue:
- Look for the `conf.general.host` value
- Pass it to the template
- Prepend `{{ host }}` to

[2021-03-01 20:40] AlphaJack commented on #652
I am getting a subject, but it is unnecessarily encoded in quoted-printable:

[code]

[2021-03-02 02:24] neutrino-bsd opened #712 "Avatar images are all the same for each comment"
Hello! I got isso working, but all avatar pictures are the same, even if I left comments with various devices and IP addresses.

Is there something obvious that I could have misconfigured ?

**Here is my client code:**

<script data-isso="http://comments.server.pw/"
        data-isso-require-author="true"
        data-isso-require-email="false"
        data-isso-reply-to-self="true"
        src="h

[2021-03-02 12:03] neutrino-bsd commented on #712
I removed the [hash] section completely and restarted "isso" and it seems to have solved the issue. New comments now show different avatars.

[2021-03-04 15:14] ix5 commented on #712
Wild guess, you're not passing through the remote IPs in your proxy configuration and also not submitting email addresses.
This probably leads to every comment being assigned 127.0.0.1 as its only identifying hash.

https://github.com/posativ/isso/blob/d7b566656d1e7a6d8dc5667b15b0aa2ad52ebf26/isso/views/comments.py#L318

[2021-03-05 02:20] neutrino-bsd commented on #712
Thank you for the reply. So the avatar (svg image) is not rendered based on the Author's name of the comment ? You are right, I was sending comments without entering email addresses. When I enter different addresses it generates different avatars. So a fix would be to make e-mail address mandatory to input comments.

I run isso on another domain and use relayd(8) to proxy the requests using gunico

[2021-03-14 12:17] SilverRainZ opened #713 "A sphinx extension for integrating Isso"
Hello guys, I wrote a sphinx extension which can embed isso comment into document.
Please check out https://sphinx-notes.github.io/isso/ for details. Hope it is helpful to you.

[2021-03-14 14:39] jelmer commented on #713
Can you perhaps create a pull request to add it to "Related projects" in docs/docs/extras/contribs.rst ?

[2021-03-15 10:33] SilverRainZ commented on #713
See #714, It seems that the contribs.rst doesn't include in https://posativ.org/isso/docs/. And all links in "Related projects" section have wrong format.

[2021-03-15 13:31] jelmer commented on #713
On Mon, Mar 15, 2021 at 03:34:17AM -0700, Shengyu Zhang wrote:

The web site is updated manually I think, and that doesn't happen very
regularly.

--
Jelmer Vernooĳ ***@***.***>
PGP Key: https://www.jelmer.uk/D729A457.asc

[2021-03-15 15:40] SilverRainZ commented on #713
I also wrote a [github action](https://github.com/sphinx-notes/pages) for publishing sphinx document to github page, if isso want to use it, I can try to file a PR.

[2021-03-15 18:23] gour opened #715 "isso.dispatch does not work with the single site"
Hello!

I've configured isso to render comments for *single* site - using latest isso/gunicorn installed (pip --user install)  on the Debian-10 server and launching with systemd's user.

Since I'd like to use isso as commenting engine for few sites, I've tried to invoke it with the `isso.dispatch`, but as soon as I switch the comments disappear and after restarting the service invoking `isso.run`

[2021-03-18 00:49] bubbleboxgames opened #716 "list comments in reverse order, newest first"
Hello,
Is there a way to sort comments so the newest ones are listed on top instead of the oldest comment?

I tried this: https://github.com/posativ/isso/pull/322
data-isso-sorting="upvotes,newest"

But that doesn't work (anymore)
Is there a server setting that I can change to achieve reverse sorting?

[2021-03-19 03:55] #713 closed

[2021-03-21 10:17] angristan opened #717 "403 when editing or deleting a comment (cross-domain)"
Here is what I get:

![image](https://user-images.githubusercontent.com/11699655/111901012-dbc5b880-8a35-11eb-9993-32b9d65693ad.png)

(It doesn't explicitly fails for the users unless trey open their dev console 🙁 #673)

I fired up Hunter to see where the exception comes from:

<details>
  <summary>Trace when editing a comment</summary>

[code]
</details>

<details>
  <summary>Trace when deleting

[2021-03-21 10:25] angristan commented on #717
Looks like it was because I was hosting isso from a different domain than the blog itself. Using the same domain fixed it.

[2021-03-21 10:25] #717 closed

[2021-03-22 22:29] #584 closed

[2021-03-23 22:30] #716 closed

[2021-03-27 23:43] jerrylsu opened #718 "Comments submitted cannot be displayed on my website"
## **Issue Discription:**

I use ISSO with Apache2 and Pelican.The ISSO can be displayed on the website normally, but when I submit a comment, nothing happens.

![image](https://user-images.githubusercontent.com/18185325/112737694-38c1f100-8f97-11eb-8074-a775c1b0b8b4.png)

For ISSO server using `isso -c isso.cfg run`, and when I submit a comment, the ISSO server will receive the messages as below

[2021-03-29 05:18] ntnsndr opened #719 "Question: differentiation by query strings?"
I'm sorry if this is not the right place to be asking this question: But I'm curious if Isso can distinguish between these two pages on a site:

example.com/?p=1
example.com/?p=2

Thanks so much for taking the time to consider this, and for your work on this project.

[2021-03-30 08:49] ix5 commented on #718
Seems like it is failing at CORS preflight (OPTIONS sent but no response).
Can you post the entire contents of the browser console? (available by pressing Ctrl-Shift-K)

Also, you have non-www in your isso `host` config, but your pelican blog SITEURL is with www, is that desired?

[2021-03-30 08:56] ix5 commented on #719
Isso uses `location.pathname` on the client side, which strips any query strings.
https://github.com/posativ/isso/blob/a7c1069cf5feab721a166e7796ce725287a46189/isso/js/embed.js#L56

You could set a custom `data-isso-id` per querystring in your CMS instead.

[2021-03-30 09:00] blatinier commented on #719
@ix5 answer shows how it works and how QS could be used so I'm closing this.
Feel free to re-open if you think it doesn't answer your question :)

[2021-03-30 09:00] #719 closed

[2021-03-31 02:19] jerrylsu commented on #718
Hi @ix5 , this is indeed a problem caused by cross-domain resource sharing(CORS).
<img width="347" alt="CORS_error" src="https://user-images.githubusercontent.com/18185325/113080157-00294e00-9209-11eb-884c-e3af8d0886a8.png">

I've solved this problem by setting **host** as you mentioned.
[code]
Thank you very much!

At the same time thanks to this [issue: CORS errors](https://github.com/posativ/is

[2021-03-31 02:19] #718 closed

[2021-04-03 06:52] vsajip opened #720 "ISSO_CORS_ORIGIN doesn't appear to work as advertised"
According to the documentation, you can use an `ISSO_CORS_ORIGIN` environment variable to set e.g. wildcards for the `Access-Control-Allow-Origin` CORS header. However, it doesn't work in practice, because the code that uses it is as shown in this fragment:

[code]
However, the `environ` passed into `func()` is a restricted WSGI environment (`request.environ`) rather than the full process environm

[2021-04-28 11:59] Guts opened #722 "Get signals in order to send a notification through a webhook"
From what I understand of the notification mechanism, signals are sent according to events (creation, deletion, etc.) (https://github.com/posativ/isso/blob/a7c1069cf5feab721a166e7796ce725287a46189/isso/ext/notifications.py).

Is it possible to listen to these signals to add additional notification possibilities?

My use case, concerns a webhook.

Thank you for your answer!

[2021-05-01 07:44] skey35 opened #723 "ticking block entity"
my minecraft crasht and  it says description ticking block entity.
what can i do about that??

[2021-05-01 07:46] skey35 commented on #723
-- Block entity being ticked --
Details:
	Name: storagenetwork:storage_kabel // com.lothrazar.storagenetwork.block.cable.link.TileCableLink
	Block: Block{storagenetwork:storage_kabel}[down=cable,east=inventory,north=cable,south=none,up=cable,west=none]
	Block location: World: (-1717,64,4702), Chunk: (at 11,4,14 in -108,293; contains blocks -1728,0,4688 to -1713,255,4703), Region: (-4,9; contains c

[2021-05-02 21:33] stbuehler opened #725 "dependency jade should be replaced"
Hi,

I just took a look at [debian bug #959644: isso: FTBFS: TypeError: Jade:1](https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=959644), and the conclusion is that `node-jade` in debian bullseye is [completely broken](https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=987967) due to incompatibilities with newer versions of its dependencies, and I don't see it getting fixed given its quite old.

I

[2021-05-03 17:04] Donderda opened #726 "Multiple Commentsections per Page possible?"
Hi,
I want to simulate a comment behavior like ifixit uses (e.g. https://www.ifixit.com/Guide/Acer+Aspire+5336-2524+Battery+Replacement/128765): A comment section below every step. Is isso able to achieve this?

[2021-05-05 09:19] stefangehn commented on #725
Since the successor "pug" does not appear to be packaged in Debian I don't think there's anything that can help with the Debian package in the short run.

I can probably look into porting isso to pug but I'm not exactly fluent in JavaScript (and don't like it either), I'm more at home with Python.

For now I would recommend to install isso via pip (and into a virtualenv) instead.

[2021-05-05 09:39] stbuehler commented on #725
Yes, there will be challenges ahead (not a javascript fanboy myself either). But I think `pug` has a better chance to be properly maintained in debian than `jade`. I'm not sure how important `jade` is in `isso` anyway - perhaps it can be made optional if it's just for generating docs?

The python dependencies are not a problem (yet), so no virtualenv needed; I don't see how virtualenv would solve

[2021-05-10 09:37] stefangehn commented on #725
Installing from pypi via pip (either with our without a virtualenv) will contain prebuilt files so Jade is at least not an issue for you as a user. AFAIK Jade is used for html templating in the JS code, i.e. it is the logic that renders comments as HTML inside the browser.

[2021-05-11 13:27] stefangehn commented on #715
Setting up isso in multi-site mode adds a subdir in the isso URL for each site, did you adapt your website configuration accordingly?
See also https://posativ.org/isso/docs/setup/multiple-sites/

[2021-05-17 07:29] gour commented on #715
Ahh, thanks for the pointer!

Now I modified webconfig  and I can e.g. access:  `https://tld/foo/admin` which e.g. does list my comments as `Valid`, but on the web site there is only empty comment form, but no old comments are rendered.

Any (further) hint?

[2021-05-18 14:02] waqqasdadabhoy opened #728 "Disqus import failing if there are threads without titles"
I'm getting the following error while importing a Disqus file:

[code]

I found that it occurs because there are some threads in the XML file without titles:

[code]

I have found that changing lines 87-88 in `migrate.py` to the following, to convert the `None` to an empty string, to convert the `None` to an empty string, fixes the problem (not being a Python programmer, I'm not sure if this is a

[2021-05-22 20:24] madranet opened #729 "Enabling Gravatars and Admin After the Fact?"
I've had Isso up and running for a few years now on my site: https://stiobhart.net

I've recently found out that it's now possible to use Gravatar avatars with Isso [this wasn't supported when I first installed it, many moons ago].

I want to enable this feature. So I've added the necessary lines to my `isso.cfg`

[code]
and restarted Isso

[code]

but I don't see any Gravatars. I've also opened m

[2021-05-26 16:20] gravelld opened #730 ""Hidden" and "Staled" posts in the admin area. What do they mean?"
Following an import of about 2k posts from Disqus, I can see eight of them are in the _Staled_ section of the admin page.

What does _Staled_ mean?

They are marked **HIDDEN**. How do I unhide them... but more importantly why are they hidden in the first place?

[2021-05-28 17:55] EchedeyLR commented on #653
Forgot to say: the issue is kept.

[2021-05-29 09:06] EchedeyLR commented on #653
I made a workaround.

[code]

[2021-06-08 22:58] PanCakeConnaisseur commented on #653
I tried and it seems to produce the same result as before.

[2021-06-09 18:11] ix5 commented on #730
That's a bit of unfortunate behavior in the migrate function:

https://github.com/posativ/isso/blob/a7c1069cf5feab721a166e7796ce725287a46189/isso/migrate.py#L115

While importing from Disqus, isso sets the `mode` of a comment based on whether the `isDeleted` field in the exported Disqus database is explicitly set to `false`. I'm guessing that Disqus has some sort of soft-delete function which isso

[2021-07-06 06:55] onaralili commented on #11
Would be great to have a plugin system to integrate with third-parties. As an alternative to Akismet, there is OOPSpam which is GDPR complaint.

[2021-07-11 07:10] chendachao opened #734 "403 when deleting a comment from different origin"
I got bellow error when deleting a comment from site https://chendachao.netlify.app/.

![image](https://user-images.githubusercontent.com/18575321/125185805-6cc8d580-e259-11eb-9d09-f3ba940b4a63.png)

I know this is cross origin, but I added the site https://chendachao.netlify.app to isso's configuration file.

The create api work, but the delete api can work. Any suggestions would be appreciate.

[2021-07-12 19:24] spookylukey commented on #135
As further input, I have an export that has empty `<id>` from some posts, and not from others.

I **think** the pattern is:
* really old threads, from an old import have a numeric id e.g. `<id>15</id>`
* all newer threads from recently created posts have an empty id `<id />`

So it would be nice if the import could deal with this without having to pass a flag.

[2021-07-19 23:18] heavyimage commented on #546
Agreed with @NullSense!  Any more movement on this since then?

[2021-07-19 23:20] heavyimage commented on #546
Wait!  this seems to be what the `public-endpoint` directive is for; setting public-endpoint to https://example.tld seems to fix the issue :-)

[2021-08-09 14:46] vsajip opened #735 "Problem with CORS - multiple sites support is broken"
Multiple site support is broken because you can't specify host-dependent CORS headers. I have two sites `https://comments.foo.com/`, `https://comments.bar.com/` for comments on sites `https://blog.foo.com/` and `https://blog.bar.com/` respectively. What I need is to send a CORS header corresponding to the appropriate site the comment site is for, but there's no way of doing this, from what I can t

[2021-08-09 14:55] vsajip opened #736 "Dispatch returning a 404 leads to a spurious error message"
Returning a 404 here
https://github.com/posativ/isso/blob/535c729cf3ef2ea2438a92ca1e06c517d34c286d/isso/dispatch.py#L49-L50
Leads to a spurious error message at startup when multiple sites are configured, due to this logic:
https://github.com/posativ/isso/blob/535c729cf3ef2ea2438a92ca1e06c517d34c286d/isso/__init__.py#L186-L194

Any reason why a 200 can't be returned instead of a 404 in this case?

[2021-09-14 03:37] vegeta123254 opened #737 "Isso not able to connect to the host website"
My website is running on one server and my isso service is running on another server.

 WARNING: unable to connect to your website, Isso will probably not work correctly. Please make sure, Isso can reach your website via HTTP(S).
I am getting the above while I try to run the isso service.
This is my server config file,

[general]

; database location, check permissions, automatically created if no

[2021-09-14 06:56] SnorlaxYum commented on #737
the warning already told u about it.
make sure the website specified in `host` can be accessed by isso service on ur server. (maybe u entered wrong format? correct format could be like: https://ur-domain.tld/)
anyway if u can reach ur deployed isso service on ur website, then it's not a problem (maybe just something with ur server network settings or whatever).

[2021-09-16 10:46] #737 closed

[2021-09-16 12:22] vegeta123254 opened #738 "Is isso an http service : QUESTION"
My host is running on an https server.
I have isso installed on another server.
In the isso.cfg
[code]

Since host is https and isso service is http.
I get that request is blocked and content must be served over https.
I cannot change the host to http.
What to do?
Any ideas?

[2021-09-16 12:28] SnorlaxYum commented on #738
why change it to http??
just get a certbot service working on ur server where u host ur isso service......
Their tutorial pretty good: https://certbot.eff.org/
with the certbot it's easy to power ur isso with https without having to renew the cert manually.

[2021-09-17 06:43] vegeta123254 commented on #738
@SnorlaxYum , so basically it runs on http endpoints only is it?

[2021-09-17 06:49] SnorlaxYum commented on #738
depends on how u configure. can also run on a unix socket.
Then u can make nginx proxy it using `uwsgi_pass`.

[2021-09-19 15:46] gianmarcogg03 opened #739 "ConditionFileIsExecutable=/usr/bin/gunicorn3 was not met"
I'm on Ubuntu 20.04 and the systemd service won't start.
[code]

[2021-09-19 15:54] SnorlaxYum commented on #739
can the user start it?
have u tried to execute `/usr/bin/gunicorn3` using the user of the service?

[2021-09-19 16:02] gianmarcogg03 commented on #739
The command/file `/usr/bin/gunicorn3` doesn't exist.

[2021-09-20 08:00] SnorlaxYum commented on #739
Then just install it.
[code]

[2021-09-22 06:48] vegeta123254 commented on #738
Can't we just,
[code]
This seem to throw an error, while I run,
[code]

[2021-09-22 06:56] SnorlaxYum commented on #738
why expect isso to do the jobs of reverse proxy servers like nginx?
if u r not sure about what u r doing by checking the offical doc, just pick one of the [unofficial tutorials](https://github.com/posativ/isso/wiki/Tutorials) and read, then try following it.

[2021-09-22 07:00] vegeta123254 commented on #738
I am actually trying to integrate it with mkdocs material and hence the confusion

[2021-09-22 08:03] SnorlaxYum commented on #738
no matter what website u r trying to integrate with isso, just get isso
running on ur server first. Then the rest is super easy to complete.

[2021-09-24 04:13] WodenWang820118 opened #740 "Configure the client to connect to isso SQLite"
Hi, thanks for building the awesome commenting server. Since I have no experience with "server" stuff, I want to clarify something that I don't understand. I followed the documentation to run isso file, make the connection with it. The tutorials I found are all for Ubunto, but I am using Windows 10.

[code]
I can `isso -c /path/to/isso.cfg run` to connect to the host, and its message is in the com

[2021-09-24 07:02] SnorlaxYum commented on #740
1. the isso server listens on `http://127.0.0.1:8501` on ur server. but to make it production-ready, check [deployment](https://posativ.org/isso/docs/extras/deployment/) for a production-ready way to run it.
2. to make it listen on a public domain, check [Sub-URI](https://posativ.org/isso/docs/setup/sub-uri/). (u can also make it listen on a sub-domain depending on ur need).
3. `data-isso-id`: the

[2021-09-24 08:42] WodenWang820118 commented on #740
Thank you!
I feel like when I go through the docs, there's a huge gap since I am a newbie in terms of back-end and server. I've also found another way to make it successfully with [Caddy](https://github.com/caddyserver/caddy), which is easier for me. I'll edit the title and post a short answer here. Finally, close the issue.

Sincerely,

[2021-09-24 11:52] WodenWang820118 commented on #740
This is the short answer I've found to connect the host website and the server, in which the answer is from [here](https://stiobhart.net/2017-02-24-isso-comments/).
[code]
The command `isso -c isso/isso.cfg run` to run isso instance.

Then, with [Caddy](https://caddyserver.com/docs/install), the file name would be "Caddyfile", without any extension.

localhost:8501 {
  redir http://localhost:8501/

[2021-09-24 11:54] #740 closed

[2021-09-27 14:49] 4044ever opened #741 "[Solved] admin panel - can't login"
Finally isso works, partly.

I get the /admin/ login page. Upon login attempt the path changes to /login/ - but page stays same. No/wrong/right password does not make a difference.

- Isso version: 12.5
- O/S: Debian 10
- Webserver: nginx
- isso runs inside docker
- DNS pointing and SSL done by Cloudflare

[code]
/conf.d/isso.conf

[code]

What could be the problem?

[2021-09-29 13:47] 4044ever commented on #741
Mhm, before it worked with `isso.yogurt.com:8088/admin`. Right now it works with `isso.yogurt.com/admin`
I didn't do anything website oder server side, just change the Cloudflare SSL from _Flexible_ to _Full_. Seems that did the trick.

[2021-09-29 13:47] #741 closed

[2021-09-29 14:07] 4044ever commented on #701
I am late, when I understand you correctly you want to remove Disqus and use isso. So you need to:

1. Export your comments from Disqus as XML
2. Import the XML to isso
3. then simply disable and remove Disqus from Wordpress
4. Put the isso page/client script to WP (best in footer)

This link may help:
https://stiobhart.net/2017-02-24-isso-comments/#_disqus_com_export_existing_comments_from_disqus

[2021-09-29 14:24] 4044ever opened #742 "importing xml comments into docker isso?"
Is there a method to import xml comments into a docker based isso? I am on Debian 10 and run isso 12.5

(really hard to setup, but it finally works, and work very well)

[2021-09-30 09:00] vegeta123254 opened #743 "How many levels of nesting of comments is provided? : QUESTION"
I notice that there is only one level of nesting supported to reply to comments?
Is this correct?
Please correct me if wrong

[2021-09-30 10:16] #738 closed

[2021-10-05 13:27] molivier-fcms commented on #743
That's right. This choice has been made by design (see #79 ).

[2021-10-07 05:02] vegeta123254 opened #744 "Unable to vote comments on clicking on "^" icon near the avatar."
Hi,
I am unable to vote the comments being displayed on my site.
[code]
I have set `data-isso-vote="true"`
Any idea on what I may be missing?

[2021-10-07 05:03] #743 closed

[2021-10-07 06:38] vegeta123254 opened #745 "Received email has a Random text in the sender's email address"
The email received has a random text,
**Ich schrei sonst!** beside the sender's mail address.
Below, is a part of my config file,
[code]

Am I missing something?

[2021-10-07 14:43] KaiserBarbarossa commented on #745
That’s not random. isso stems from that sentence: **I**ch **s**chrei **so**nst as far as I remember.

It should work using the following in your configuration

[code]

Of course you could replace "Name to show" with the email address.

[2021-10-07 19:46] gregoriy96 opened #746 ""in reply to" feature is missing"
I noticed that there was no information about who I replied to.

It should look something like this:
![Снимок экрана 2021-10-07 0100064234](https://user-images.githubusercontent.com/29800587/136450900-db261b8f-f1a7-49d3-9845-1730c81a78f8.jpg)

Would also be great to see if a comment was voted.

[2021-10-08 03:52] vegeta123254 commented on #745
Thank you @KaiserBarbarossa . Worked like a charm.
Also one more doubt,
If I have to send notification to multiple users,
[code]
But only one receiver, example_receiver@tld.com seems to get the notification.
Am I missing something?

[2021-10-11 12:45] #745 closed, assigned to nobody

[2021-10-12 05:09] vegeta123254 opened #747 "Is multiple votes from same IP ignored?"
I understand that multiple votes are denied from same IP address.
If I must allow, what workaround can be done?

[2021-10-20 06:21] vegeta123254 opened #748 "User not receiving notification when his comments are replied to."
[code]

Whenever a new comment is made by the **user** , Example Foo is notified by email.

However when there is a reply to the comment, the **commentor(user)**  is not being notified, even though`reply-notifications= true` in the server and the client being configured.

[code]
Am I missing something?

[2021-11-13 11:02] mdehghani65 commented on #366
i found using a javascript approach easier. you may use this script in your website to change the default placeholder string:

`function waitForElement(qstring, callBack){
    window.setTimeout(function(){
      var element = document.querySelector(qstring);
      if(element){
        callBack(qstring, element);
      }else{
        waitForElement(qstring, callBack);
      }
    },500)
  }

  wait

[2021-11-13 20:06] mdehghani65 commented on #547
In may case I forgot to add different variations of my site domains and subdomains to the host section of isso.conf. (no need to manipulate cors settings).

[2021-11-13 21:00] mdehghani65 commented on #729
i have the same question. I have configured .conf as follows:

gravatar = true
gravatar-url =https://www.gravatar.com/avatar/{}

[2021-11-23 18:27] lumenwrites opened #749 "How does isso prevent users from voting multiple times on the same comment? How does isso handle spam?"
Hey guys! I'm trying to build a commenting system for my website similar to isso. I don't want to require users to sign up, I want username/email to be optional, just like in isso.

I wanted to ask - how does isso allow loginless comments, and deal with spammers or people who want to manipulate upvotes?

I'd really love to find a solution to these issues that doesn't require users to create an acc

[2021-11-24 15:26] jalsco opened #750 "Failed to build misaka - ISSO installation failed ... Debian"
I just trying to install onto: `Debian 10 (buster), Python 3.7.3`
Installation fails :

` Building wheel for misaka (setup.py) ... error
  ERROR: Command errored out with exit status 1:'

**Full errors attached......**

![image](https://user-images.githubusercontent.com/7985459/143266567-e03d87ad-bc4a-48c3-845f-46aec778fd20.png)

[2021-12-13 08:55] chendachao opened #751 "Isso config [markup] can't work"
I found an issue about the markup config, any suggestions would be appreciate.

Step1, add below code to isso server config,
[code]

Step2, In the website where you refer isso as comment fn, add below comment:
`<a href=http://evil.com>clickmetochangethispassword</a>`

Result: the comment was successfully rendered.

Expect: transform the a markup.

[2021-12-16 12:07] ix5 commented on #751
See [server docs](https://github.com/posativ/isso/blob/9e021cb6263e921ac519f52b82df3f66a297d3d1/docs/docs/configuration/server.rst#markup)

I agree that the config should be named `additional-allowed-elements` to be more accurate (or _replace_ instead of _amend_ the default list).

The code for that is in `isso/utils/html.py`:
https://github.com/posativ/isso/blob/9e021cb6263e921ac519f52b82df3f66a2

[2021-12-16 13:57] ix5 commented on #750
Hello @jalsco, it'd be much more convenient for other people trying to help you if you pasted the error you received in text form instead of a hardly readable screenshot. Not everybody is able to decipher dark red text on a dark background, and some people rely on screen readers or other accessibility tools.
To paste blocks of code, you surround the block in triple backticks (```)

---

First, ple

[2021-12-16 13:58] ix5 commented on #730
@gravelld if your issue has been solved, would you mind closing it? Or do you have further questions?

[2021-12-16 14:06] ix5 commented on #720
Using `ISSO_CORS_ORIGIN=*.example.tld` as written in isso's documentation is seemingly [against spec anyway, see this Stackoverflow answer](https://stackoverflow.com/a/14006226/2193463).

I've prepared a branch that rectifies isso's behaviour, see [ix5/isso@cors-from-os-environ](https://github.com/ix5/isso/tree/cors-from-os-environ) but that will still result in browsers refusing wildcard subdomai

[2021-12-16 18:55] gravelld commented on #730
Yes, I haven't had the chance to update the database, but it looks like this should be fine when/if I get to it. Apologies for not following up earlier.

[2021-12-16 18:55] #730 closed

[2021-12-17 11:25] ix5 commented on #739
@gianmarcogg03 would you mind closing this issue if your problem has been resolved?

[2021-12-17 11:28] ix5 commented on #481
@Fluffy9 is this issue still current? Since it's more of a call for help to extend/modify isso, would you mind closing it?

[2021-12-17 12:19] jalsco commented on #750
Thank you for your reply. I will try those steps and report back.
Also - since posting that  I have upgraded to Debian 11 (bullseye), Python 3.9.

[2021-12-17 22:12] #739 closed

[2021-12-20 15:13] mdehghani65 commented on #4
plz somebody implement this as soon as possible. because specially when you limit the default comment numbers to be shown , it is very logical that the latest ones should be shown first.

[2021-12-20 15:16] mdehghani65 commented on #729
its kind of tricky. apparently in addition to backend settings you should enable gravatar in client settings and also disable avatar in client settings.

[2021-12-21 08:18] chendachao commented on #751
Hi @ix5, so how could I setup the configurations, both `elements` and `allowed-elements` can't work

[2021-12-21 21:09] ix5 commented on #751
Edit `isso/utils/html.py` and remove the default lists:
https://github.com/posativ/isso/blob/9e021cb6263e921ac519f52b82df3f66a297d3d1/isso/utils/html.py#L20-L27

Change that to:
[code]

Note that this is only a temporary fix ("monkey-patching") that you have to apply every time you install/update isso. If you want to change the behaviour for everyone, you should submit a Pull Request to change it.

[2021-12-21 21:18] ix5 commented on #742
Have you tried [making any effort to research your issue](https://letmegooglethat.com/?q=docker+run+interactive+shell)?

Here's an idea:

[code]

Together with [isso docs: Migration](https://posativ.org/isso/docs/quickstart/#migration) you should be able to get going.

[2021-12-21 21:25] ix5 commented on #746
Hey @gregoriy96, that's a nice mockup, but by indenting the replies one level, it is already quite clear what a comment is referring to imo.

As such, your request isn't a missing feature in my eyes. If you want this implemented, you will need to step up and code this yourself (unless someone shares your sentiment).

As you can see, the issue tracker is already severely overloaded by trivial reque

[2021-12-21 21:37] ix5 commented on #728
Nicely done! Would you mind submitting a Pull Request for your solution?

It seems that same "fix" would also be applicable to the WordPress and Generic importers.

My stylistic preference would be:
[code]
Though I tend to prefer "Imported Thread" or some other default instead of just an empty string. Open to discussions...

If you like, creating a test case for your Disqus import (missing/empty t

[2021-12-21 21:53] ix5 commented on #734
How about adding some logging to isso to figure out where exactly it's failing?

A CORS issue would manifest itself a bit differently in the dev console, I'm afraid. Are you sure it's not a cookie/auth issue?

Also, for people to reproduce, it would help to post your whole config file, domain setup (from which to which hosts) and the exact versions of isso and python you use.

[2021-12-21 22:03] ix5 commented on #729
@madranet adding the `[admin]` section with both properties should be sufficient in addition to restarting the isso server.
Are you sure there are no typos? Maybe isso is complaining about an unknown config key on startup, should be in the log via `journalctl -u isso.service` (or whatever logging system you use).

For reference, that's what it should look like:
[code]

As for your gravatar issue,

[2021-12-21 22:04] ix5 commented on #723
@skey35 would please close this issue? It has nothing to do with the isso commenting system. Maybe you got here by mistake?

[2021-12-21 22:40] madranet commented on #729
Thanks @ix5 and @mdehghani65 for trying to help with this.  My [admin] settings were already present and correct in _isso.cfg_ and there's nothing untoward in _journalctl_'s logging.

However I didn't have the client options set. I've done that now. But it's still not working. The default avatars have gone. But I'm getting nothing in their place:

![SS 2021-12-21 at 22 26 42](https://user-images.g

[2021-12-21 22:42] ix5 commented on #749
Isso records the IP address of the person submitting the comment/vote.

Moreover, you can enable the comment guard/moderation feature, which will only display comments to other users after you, the site admin, have manually approved them (or after a timeout iirc).

Multiple votes coming from the same IP address for the same comment are silently dropped. Isso uses a bloom filter for that, see:
http

[2021-12-21 22:43] ix5 commented on #749
Would you mind closing this issue to not clog up the bug tracker? We can of course still discuss this if you have further questions. GitHub will not prevent anyone from commenting on closed issues afaik

[2021-12-21 22:56] ix5 commented on #706
To answer your other question, afaik there is no explicit admin API, but rather admin uses the standard endpoints that the client also uses (`/id/<action>`), just using an admin cookie and a comment hash instead.

See e.g.
https://github.com/posativ/isso/blob/9e021cb6263e921ac519f52b82df3f66a297d3d1/isso/js/admin.js#L27-L33

So you can get a list of all comments via the `latest` API if you so desi

[2021-12-21 23:04] ix5 commented on #668
Would you mind checking if the suggested solutions to gravatars not appearing in https://github.com/posativ/isso/issues/729 might help?

I'm afraid without a full config file and (current) client side settings as well as a link to your (broken) comment section on your blog, it might be difficult to help you.

[2021-12-21 23:17] ix5 commented on #671
@pawamoy has your issue been resolved? To my eyes, this seems like an issue with debian's packaging and as such, their bugtracker is the correct place for any further issues.
Would you mind closing this then?

[2021-12-21 23:22] ix5 commented on #656
To summarize, @curiousdungbeetle tried installing the isso package directly from a git clone (i.e. `pip3 install git+https://github.com/posativ/isso.git`) without building the required javascript files using `make init js`.

This type of installation is not supported or officially documented anywhere and was a workaround to a broken isso package in pypi recommended by well-meaning individuals in t

[2021-12-21 23:35] fluffy-critter opened #752 "Please add more maintainers"
There's a lot of pending changes that really should be merged in, and this project is starting to feel abandoned, when a lot of people are very enthusiastic about improving it. It would be really nice, therefore, if some more people could be appointed maintainers/admins of the repository. @ix5 has done some amazing work in reviewing PRs, and as such I'd like to nominate them.

[2021-12-21 23:42] #749 closed

[2021-12-21 23:43] lumenwrites commented on #749
Sorry, I haven't noticed your reply before. Thank you so much for taking the time to reply!

[2021-12-21 23:50] ix5 commented on #749
Happy to help!

[2021-12-21 23:59] ix5 commented on #752
Thank you for your kind words! I'd certainly be up for trimming the bug tracker a bit and merging trivial fixes.
Larger architectural discussions and uploading to pypi is something I'd leave with the current maintainers though.

@jelmer and @blatinier have done a stellar job so far, but it seems they (rightfully so!) value their private lives, which necessitates a few more maintainers.

[2021-12-22 00:28] ix5 commented on #722
Since you already created the PR and thus answered yourself, would you mind closing this? ;)

[2021-12-22 01:08] ix5 commented on #729
A couple of observations:

1. You do not need to create an `gravatar_image` field in your database. It will not be utilized. Gravatar images (or rather, the URLs to the individual gravatars) are generated on-the-fly:
https://github.com/posativ/isso/blob/9e021cb6263e921ac519f52b82df3f66a297d3d1/isso/views/comments.py#L856-L864

2. There is no database setting that records whether you have the admin

[2021-12-22 01:18] ix5 commented on #752
I'd nominate @Guts, @stefangehn who I think have made some important upkeep contributions.
And maybe @BookGin if they want to help automate a bit of the deployment/CI process.

[2021-12-22 12:54] madranet commented on #729
Halleleujah! --I've got it working:

![SS 2021-12-22 at 12 43 15](https://user-images.githubusercontent.com/669658/147094695-de84ee1d-305d-4779-bb5b-2c5c30c7b6c7.png)

Not for the first time, it was a [PEBKAC](https://en.wikipedia.org/wiki/User_error) problem.

I was convinced my _isso.cfg_ was being read correctly, because I was receiving notification emails when someone posted a comment.  Howeve

[2021-12-22 12:54] #729 closed

[2021-12-22 19:17] jelmer commented on #752
I'm in favour of adding more maintainers in general.

That said, time is not really the issue that has prevented me from merging PRs. The testing situation for isso isn't great - there are a handful of tests, and mostly for Python. Every PR (and you can find several examples of this happening) risks breaking isso for the majority of users that doesn't use the feature.

[2021-12-22 20:37] #679 closed

[2021-12-22 22:30] pawamoy commented on #671
I was never able to serve Isso from my Raspberry Pi (didn't try that hard, and eventually went with Utterrances), so not sure the issue is resolved, though I will not investigate more, so I guess we can close the issue.

[2021-12-22 23:00] EchedeyLR commented on #671
@pawamoy would be better to leave it open for other people which experiment the same issue or check it and get it solved

[2021-12-23 10:31] blatinier commented on #725
Globally the JS is quite old (that's an understatment).
It could benefit a full refactor using either vanillaJS, like here with some lib imported or maybe some "micro framework" like preact, svelte, ...

[2021-12-26 17:16] #746 closed

[2021-12-26 18:33] ix5 commented on #570
@skylord123 fixed by #604, would you mind closing this?

[2021-12-26 21:27] #570 closed

[2021-12-26 21:28] #722 closed

[2021-12-26 21:30] ix5 commented on #574
This should be taken care of by either webhooks (might be merged soon) or by an external program such [isso-telegram-notifier](https://github.com/mskian/isso-telegram-notifier) as mentioned in https://github.com/posativ/isso/pull/724#issuecomment-939299481

[2021-12-26 21:30] #574 closed

[2021-12-26 21:31] ix5 commented on #578
Fixed by https://github.com/posativ/isso/pull/589

[2021-12-26 21:31] #578 closed

[2021-12-26 21:34] ix5 commented on #625
Hi @poblabs, I tried reproducing your issue but I cannot. With `options = [...], fenced-code` and current isso, code blocks delimited by triple backticks render just fine.

[2021-12-26 21:34] #625 closed

[2021-12-26 21:39] ix5 commented on #178
Documented lazy-loading in https://github.com/posativ/isso/pull/684

[2021-12-26 21:39] #178 closed

[2021-12-26 21:44] ix5 commented on #192
See https://github.com/posativ/isso/issues/345, should be fixed by https://github.com/posativ/isso/pull/452 and a bit of adjustments in your framework.

[2021-12-26 21:44] #192 closed

[2021-12-26 21:46] ix5 commented on #210
See https://github.com/posativ/isso/issues/79 and http://blog.codinghorror.com/web-discussions-flat-by-design/

[2021-12-26 21:46] #210 closed

[2021-12-26 21:51] ix5 commented on #217
Is this still current? Otherwise I'll close this.

[2021-12-26 22:01] poblabs commented on #625
Yes that works and has worked since your reply in 2020. Thanks for checking in. 😄

[2021-12-26 22:07] ix5 commented on #625
Happy to hear that!

[2021-12-26 22:08] #723 closed

[2021-12-26 22:08] #715 closed

[2021-12-26 22:10] ix5 commented on #712
Solved by setting `require-email = true` or running a transparent proxy.

[2021-12-26 22:10] #712 closed

[2021-12-26 22:11] #656 closed

[2021-12-26 22:15] ix5 commented on #628
@randomshinichi by default, Isso uses the URL it is being loaded from as an identifier.

You could also set `data-isso-id` for each post in hugo, e.g. insert a new field into your front matter of each post and then render it as a value to the isso javascript call.

[2021-12-26 22:15] #628 closed

[2021-12-26 22:18] ix5 commented on #647
Related: https://github.com/posativ/isso/issues/566

[2021-12-26 22:35] ix5 commented on #139
As mentioned in https://github.com/posativ/isso/issues/497, passing the title from the client via `data-title` is now possible.

[2021-12-26 22:35] #139 closed

[2021-12-26 22:36] ix5 commented on #239
Duplicate of https://github.com/posativ/isso/issues/205, more fruitful discussion there.

[2021-12-26 22:36] #239 closed

[2021-12-26 22:39] #267 closed

[2021-12-26 22:40] ix5 commented on #301
Fixed by https://github.com/posativ/isso/pull/565

[2021-12-26 22:40] #301 closed

[2021-12-26 22:41] ix5 commented on #286
See also: https://github.com/posativ/isso/issues/582

Unless someone steps up, it will be unlikely this ever finds its way into Isso.

[2021-12-26 22:42] ix5 commented on #582
Very similar to https://github.com/posativ/isso/issues/286

[2021-12-26 22:42] #582 closed

[2021-12-26 22:43] #285 closed

[2021-12-26 22:45] ix5 commented on #450
Is this still current?

[2021-12-26 22:46] ix5 commented on #462
Is this still current?

[2021-12-26 22:46] ix5 commented on #478
Link works fine here.

[2021-12-26 22:46] #478 closed

[2021-12-26 22:48] ix5 commented on #554
Invalid, not enough info.

[2021-12-26 22:48] #554 closed

[2021-12-26 22:49] ix5 commented on #651
Very similar to https://github.com/posativ/isso/issues/585, closing in favour of that PR

[2021-12-26 22:49] #651 closed

[2021-12-26 22:49] ix5 commented on #585
@jwatt @jefft would you like to tackle this?

[2021-12-26 22:50] ix5 commented on #585
Related: https://github.com/posativ/isso/issues/673 (on the client side)

[2021-12-26 22:52] ix5 commented on #280
Closing in favour of https://github.com/posativ/isso/issues/673

[2021-12-26 22:52] #280 closed

[2021-12-26 22:54] ix5 commented on #276
Not enough info.

[2021-12-26 22:54] #276 closed

[2021-12-26 22:55] ix5 commented on #273
Solved by setting `data-isso-require-email="true"` on client

[2021-12-26 22:55] #273 closed

[2021-12-26 22:56] ix5 commented on #271
You're welcome to document this. But you're running quite an exotic setup.

[2021-12-26 22:58] ix5 commented on #266
Isso has had changes to its proxy handling since 2016. Closing unless someone can confirm this is still an issue for them.

[2021-12-26 22:58] #266 closed

[2021-12-26 22:58] ix5 commented on #233
Fixed by #50

[2021-12-26 22:58] #233 closed

[2021-12-26 23:00] ix5 commented on #234
Can be implemented using https://github.com/posativ/isso/pull/610 and a bit of glue code.
This feature request as-is should be outside Isso's purview.

[2021-12-26 23:00] #234 closed

[2021-12-26 23:04] ix5 commented on #297
Is this still current? Isso doesn't support py2 anymore.

[2021-12-26 23:06] #310 closed

[2021-12-26 23:08] ix5 commented on #324
Is this still current?

[2021-12-26 23:09] ix5 commented on #328
Feel free to fix those, but as this is purely cosmetic, I'm going to close this issue.

[2021-12-26 23:11] ix5 commented on #338
Some basic approaches mentioned in https://github.com/posativ/isso/pull/353#issuecomment-346217728

[2021-12-26 23:12] ix5 commented on #340
Looking at https://konzertheld.de/, seems this is fixed.

[2021-12-26 23:12] #340 closed

[2021-12-26 23:14] ix5 commented on #342
With current moderation tools (`[guard]`) changes, is this still a pressing issue?

[2021-12-26 23:18] ix5 commented on #294
Yup, you can set containers as `display: flex` and re-order them at will.

Isso is already quite configurable and at some point, all the available options will simply overwhelm even seasoned admins.

[2021-12-26 23:19] ix5 commented on #306
Isso has had changes to its client code, could you verify this is still current @zaygraveyard ?

[2021-12-26 23:20] ix5 commented on #309
Could you please supply more information?
Also, does this issue still occur on python 3?

[2021-12-27 00:29] ix5 commented on #498
Relevant: https://github.com/posativ/isso/pull/519, but this truncation should also be applied more widely

[2021-12-27 01:05] ix5 commented on #420
This should be addressed by the introduction of `[server] public-endpoint`

N.b.: This value must be set to a URL *not* containing a trailing slash. `http://foo.bar` is okay, but `http://foo.bar/` is not.

[2021-12-27 01:05] #420 closed

[2021-12-27 01:07] ix5 commented on #442
Heads up: Changing existing isso CSS will break many user setups who extend or replace isso's CSS with their own.

[2021-12-27 01:08] ix5 commented on #408
Duplicate of https://github.com/posativ/isso/issues/751

[2021-12-27 01:08] #408 closed

[2021-12-27 01:17] ix5 commented on #397
I'd be wary of having Isso be configured from multiple places. For now, it already reads `ISSO_SETTINGS` to find its own config files.

Having too many possible scenarios of mixed configs and inputs creates an untenable situation for testing. A bug in the parsing of another env variable slipped completely under the radar for that reason, see https://github.com/posativ/isso/issues/720

You'd also h

[2021-12-27 01:18] ix5 commented on #383
Looking at https://www.devpy.me/10-of-the-best-linux-themes-compared/, you seem to have figured out your issue and solved it. Way to go!

[2021-12-27 01:18] #383 closed

[2021-12-27 01:28] ix5 commented on #381
Is this still current? If so, would some uberspace user feel compelled to write a bit of documentation concerning how you solved your issue?

[2021-12-27 01:30] ix5 commented on #375
Is this still current?

[2021-12-27 01:31] ix5 commented on #361
Did you eventually figure this out? The documentation on multiple sub-URIs should have improved in the meantime.

[2021-12-27 01:33] ix5 commented on #349
Seems like you fixed the issue yourself? https://github.com/NegativeDearc/negativedearc.github.io/commit/da87ec7bb5862c38445b4462051fb3eed4cd6860

[2021-12-27 01:33] #349 closed

[2021-12-27 01:38] ix5 commented on #344
This must have been an issue with Isso 0.10.5, the provided default conf (from which default values are read if not overwritten by values from your own config) did not contain the `require-author` key and thus no default was written:
https://github.com/posativ/isso/blob/0.10.5/share/isso.conf

This issue has since been fixed.

[2021-12-27 01:38] #344 closed

[2021-12-27 01:44] ix5 commented on #365
@nemani is this still current?

[2021-12-27 01:49] ix5 commented on #726
Should be similar in implementation to https://github.com/posativ/isso/issues/345#issuecomment-408393539

[2021-12-27 09:14] mdosch commented on #342
I just checked and you still can't comment while you are allowed to edit your first comment. I am not sure how `[guard]` shall be related.

[2021-12-27 11:22] nemani commented on #365
I haven't looked at it in quite some time, feel free to close it if you want to.

[2021-12-27 14:14] zaygraveyard commented on #306
It partially fixes it but the problem is still there because when the page contains no elements with id `isso-root`, `$('#isso-root')` returns `null` which then causes `$('#isso-root').length` to throw a `TypeError: can't access property "length", $(...) is null`.

https://github.com/posativ/isso/blob/e6dbd21819f8fdca9fdace447e9ba01276e8d6a9/isso/js/embed.js#L51-L53

The correct fix should probabl

[2021-12-27 20:46] andrewzah commented on #397
1. Env vars allow people to check config files into version control. I would like to be able to do this, and specify secrets as needed via env vars.
2. Env vars are *not* less secure than reading files. Neither method provides security if the system is compromised. Only the user and root can see them, unlike files and directories which also need to be managed via permissions.
3. Env vars take prio

[2021-12-29 23:44] #365 closed

[2021-12-30 06:02] #309 closed

[2021-12-31 16:33] ix5 commented on #306
@zaygraveyard While I am not able to reproduce your issue with my current installation of isso (via `document.getElementById('isso-thread').remove()`), if this is important to you, feel free to submit a pull request for the fix to the `refresh()` function and to the check for `#isso-root`.

You might also want to change the way the timers are created. Right now, for every comment a separate self-r

[2021-12-31 16:52] ix5 commented on #342
What you're looking at is a spam prevention measure by isso. See the explanation for the `[guard]` section in isso's documentation here:
https://github.com/posativ/isso/blob/be538a2abbaa1e1ac4461118453cd24c7a5afe93/docs/docs/configuration/server.rst#guard

Quote:

This setting defaults to false to prevent people from having conversations with themselves where it makes more sense to edit your comme

[2021-12-31 16:52] #342 closed

[2021-12-31 16:54] mdosch commented on #342
Am 31. Dezember 2021 16:52:20 UTC schrieb ix5 ***@***.***>:

But then: Why can't you comment to others comments in that time? That monologue prevention should stop once there is another comment. The browser #2 was used to create a comment 'by another person'.

[2021-12-31 16:56] mdosch commented on #342
Ah, OK. You use the IP. Will have to check with Torbrowser then. I only know one person complained he could not reply to a reply as long as he was still able to edit his first post.

[2021-12-31 17:05] ix5 commented on #342
Feel free to submit a Pull Request to change the current behaviour. I linked you to the `_limit` function where you can check whether a reply to the current parent already exists. Otherwise just lift the guard restrictions, either by shortening `max-age` or by allowing reply-to-self.

Note that Isso has no notion of comment nesting of more than 1 (i.e. it doesn't know about replies to replies, rat

[2021-12-31 18:22] jelmer opened #754 "Improve JavaScript code test coverage"
There is barely any test coverage for the javascript code at the moment. It would be great to at least have some basic tests to validate that the code is valid, and ideally also that it makes the right HTTP requests.

**Edit:** (addded by @ix5)
### Related PRs
- https://github.com/posativ/isso/pull/800
- https://github.com/posativ/isso/pull/822
- https://github.com/posativ/isso/pull/801
- https://

[2021-12-31 18:23] jelmer opened #755 "Python test coverage needs improvement"
The test coverage for isso's Python code is very spotty; in order to be confident when making changes and adding features, we should make sure that all code at least has some degree of coverage.

[2021-12-31 21:01] ix5 commented on #752
The creator of isso, posativ, has added me as a maintainer. We have also been in contact about trying to open up and modernize some of the development practices and opportunities for community engagement.

We'll be looking into using GitHub Discussions for support requests to keep the issue tracker on a manageable level (which we've managed to cut down to ~120 from over 160 open issues).

[2021-12-31 21:09] ix5 commented on #627
What happens when you try to fetch `https://isso.domain.com/js/embed.min.js`?

Also, is this still a current issue of yours?

[2021-12-31 21:14] ix5 commented on #755
To elaborate, the python unit tests are in [isso/tests/](https://github.com/posativ/isso/tree/master/isso/tests).

To run Isso's unit tests, you can use `python -m unittest discover isso/tests` (or `pytest` installed via `pip install pytest`).

We should probably update the docs that still recommend using `nose` since it won't run on current python versions and is abandoned by its creators.

[2021-12-31 21:15] ix5 commented on #22
Superseded by https://github.com/posativ/isso/issues/754

[2021-12-31 21:15] #22 closed

[2021-12-31 21:16] ix5 commented on #754
If someone experienced in JS would like to propose a solution, go for it!

@blatinier you seemed to be interested in migrating (some) of the client code to VanillaJS or something similar - let's start by covering the existing code ;)

[2021-12-31 21:20] ix5 commented on #583
It would be possible to install Isso on any given service if the [requirements](https://posativ.org/isso/docs/install/#install-from-pypi) are met.

It seems someone has managed to get it running on a static website using GAE as a backend, see https://github.com/posativ/isso/issues/451 and maybe ask them for further help.

Closing as duplicate.

[2021-12-31 21:20] #583 closed

[2021-12-31 21:42] fluffy-critter commented on #752
That's great news! I think that resolves this issue then. :)

[2021-12-31 21:42] #752 closed

[2021-12-31 22:32] ix5 commented on #653
I've tried reproducing your issue, but I cannot.

`nginx.conf`:
[code]

`blog.cfg`:
[code]

Running current Isso HEAD posativ/isso@e6dbd21819f8fdca9fdace447e9ba01276e8d6a9 (corresponds to version 0.12.5)

[code]

Visiting `http://localhost/isso/blog/admin`, I get the login prompt and can login just fine.

[2021-12-31 22:38] ix5 commented on #576
Did you set `public-endpoint` to an HTTP URI? Try changing it to `https` instead, that's what Isso will then use internally.

@Losses Would could please verify your issue persists on a current Isso installation with the change to public-endpoint?

[2021-12-31 22:40] ix5 commented on #576
Most likely a duplicate of https://github.com/posativ/isso/issues/576, closing in favour of discussions there

[2021-12-31 22:40] #576 closed

[2021-12-31 22:43] ix5 commented on #560
Wouldn't a workaround for that be to import your self-signed certs into your system cert store?

I'm afraid what you're asking for is a very specific request which would further complicate Isso's myriad of config options.

[2021-12-31 22:55] ix5 commented on #558
@Konzertheld this might give you an idea:

https://github.com/posativ/isso/blob/e6dbd21819f8fdca9fdace447e9ba01276e8d6a9/isso/__init__.py#L82-L87

https://werkzeug.palletsprojects.com/en/2.0.x/middleware/proxy_fix/

The reason for not setting all the ProxyFix vars to True is explained by Werkzeug's authors:

The issue for Isso is that we have little way of knowing what setups users configure. The

[2021-12-31 22:56] ix5 commented on #557
Duplicate of https://github.com/posativ/isso/issues/751

[2021-12-31 23:11] ix5 commented on #545
The Isso version at [posativ.org/isso/](https://posativ.org/isso/) hasn't been updated in a while.
@posativ will update it shortly when they have a bit of spare time, at the moment everyone's a bit busy.

[2021-12-31 23:11] #545 closed

[2021-12-31 23:21] ix5 commented on #539
@Swuap1 would you kindly confirm that your issue wasn't caused by what @matolivier suggested?
Otherwise I'll be closing this.

[2021-12-31 23:23] ix5 commented on #531
@budui would you mind submitting a Pull request to address this?

Btw, nice work on go-isso, but I see you've found that it's hard to maintain a project all by yourself...

[2022-01-01 03:58] EchedeyLR commented on #653
It won't work without the workaround I added. I have no problems under Apache HTTPD in Debian 11 using other apps with similar redirects.

[2022-01-01 15:11] ix5 commented on #653
Would you mind posting a _minimal_ config to reproduce your issue? I tried with the following, but everything works just fine. I suspect the debian package may have some kind of regression or you have a slight change in your config that you've accidentally not posted here.

[code]

`$ cat /etc/httpd/conf/extra/httpd-vhosts.conf`
[code]

[code]

`$ cat configs/blog.cfg`
[code]

[code]

Everything w

[2022-01-01 15:36] EchedeyLR commented on #653
Conf and mods:
[code]

Genera Apache HTTPD conf:
[code]

Sites-specific conf:
[code]

[2022-01-01 15:38] EchedeyLR commented on #653
Isso conf:
[code]

[2022-01-01 15:39] EchedeyLR commented on #653
Additional: without the rewrite thingie, it won't work.

[2022-01-01 16:52] ix5 commented on #219
You were probably using a version of isso (probably packaged from some repository) that did not know about the `[hash]` section yet.

Isso's current hashing behvaiour can be foudn at `isso/utils/hash.py`:
https://github.com/posativ/isso/blob/e6dbd21819f8fdca9fdace447e9ba01276e8d6a9/isso/utils/hash.py#L77-L98

[2022-01-01 16:52] #219 closed

[2022-01-01 16:55] ix5 commented on #179
Related: https://github.com/posativ/isso/issues/77

[2022-01-01 16:57] ix5 commented on #161
Is this still relevant @lukasleitsch ?
Also, have current changes to `SameSite` etc. modified this behaviour?

[2022-01-01 17:00] ix5 commented on #145
This should be fixed by the introduction of html render flags for misaka (`hard-wrap ` / `HTML_HARD_WRAP`)

See https://github.com/posativ/isso/blob/e6dbd21819f8fdca9fdace447e9ba01276e8d6a9/docs/docs/configuration/server.rst#markup

[2022-01-01 17:00] #145 closed

[2022-01-02 08:40] lukasleitsch commented on #161
Issue is no longer relevant. Thanks.

[2022-01-02 08:40] #161 closed

[2022-01-04 22:52] Guts commented on #722
As you wish but isn't the idea to wait until the PR is merged instead?

[2022-01-04 23:22] Guts commented on #755
Maybe we could start by add a linter like flake8 to improve code reliability?
We could also add it as a git hook through pr-commit to enforce code homogeneity and contributing guidelines?

[2022-01-04 23:23] jelmer commented on #755
Code linting and enforcing style seems like a good idea (and I'd welcome a PR to add that), but it is unrelated to better tests.

[2022-01-04 23:31] Guts commented on #755
Woo @jelmer, you are quite harsh!
I see a static analysis tool (linter) as a good complementary first step to better tests since it aims at improving software quality.

[2022-01-04 23:51] jelmer commented on #755
My apologies, I didn't mean to come across as harsh. I'm not disagreeing with you about the usefulness of a linter in general and its potential contributions to code quality. But they're orthogonal, and a linter won't give us significantly more confidence merging new PRs.

[2022-01-05 00:13] Guts commented on #755
No worries, I get it that we agree.

I've pushed a PR.

[2022-01-05 20:30] ix5 commented on #557
On a second glance, this is a different issue entirely. Reopening.

[2022-01-05 20:48] ix5 commented on #653
With this, I can reproduce the issue (redirect):
[code]
With this instead, the issue no longer pops up:
[code]

With `ProxyPreserveHost` turned off, the issue disappears.

Now for the [Apache Docs](https://httpd.apache.org/docs/2.2/mod/mod_proxy.html#ProxyPreserveHost):

So, by setting `ProxyPass /isso/` and then also setting `ProxyPreserveHost On`, you're directly contradicting yourself.

Phew, t

[2022-01-05 20:48] #653 closed

[2022-01-05 21:14] EchedeyLR commented on #653
Thank you. Yeah, you are right.

That setting is something I set up because I use to deal with Apache HTTPD being a reverse proxy server.

You are right about the contradiction. Sorry for the issue.

[2022-01-05 21:17] ix5 commented on #653
No worries, I'm just very glad you were willing to help others debug this and that you posted helpful configs. Big props to you!

[2022-01-07 13:08] zaygraveyard commented on #306
@ix5 I submitted a PR #757 fixing the mentioned issue.

The `TypeError` is thrown when the page that contains no element with id `isso-root` but includes the isso script is loaded.

[2022-01-07 14:15] Anaphory commented on #217
Oof, I have no idea.

[2022-01-07 14:15] #217 closed

[2022-01-08 11:21] ix5 opened #758 "Find a way to communicate allowed syntax to commenters"
There should be a way for commenters to know which elements of markdown they are allowed to use.
Since every Isso server might be configured differently, this should ideally be generated on-the-fly.

Two ideas pop into my head:
1. Having a page generated by Isso that the client links to that lists the available markdown options.
2. Displaying a little pop-up on the client side with the most essent

[2022-01-10 02:47] chendachao commented on #751
Could you submit a pull request to fix it, cos I know nothing about python.

[2022-01-10 06:11] chendachao commented on #734
Here's my isso configuation:
[code]

The domain https://larrychen.tech/'s nginx proxy configuration:
[code]

If I delete the comment under domain https://larrychen.tech/, it works well, however in https://chendachao.netlify.app/ it's not.

[2022-01-10 07:43] 4044ever commented on #742
I don't see documentation for that. Unfortunately I am no Docker expert. I gave up on Isso already. It's a pity, it's nice, but really hard to install. Too hard.

[2022-01-13 17:50] fseasy commented on #153
it's just because the `website` info is invalid. the error is not ok...

[2022-01-13 18:52] ix5 commented on #153
I agree, there should at least be a warning in the client UI.

[2022-01-13 23:08] alexandru opened #759 "Docker build is broken"
Hi all,

This PR broke `docker build`: #697

Related to that PR, note that `make init js` is called already in the `Dockerfile` script, so calling it again from `setup.py` seems superfluous, and in the docker image it probably no longer has access to `npm` at that stage.

Output log:
[code]

[2022-01-14 14:28] Fryboyter commented on #758
As a user, I always consider pop-ups annoying. I would prefer an area above or below the form with the most important formatting and a link to the rest. Or a link to a complete overview. For example, like https://www.deimeke.net/dirk/blog/index.php?/archives/4129-Meine-Firefox-Addons-Ende-2021.html

[2022-01-15 16:40] #759 closed

[2022-01-18 20:09] thomasjsn commented on #748
I just set this up and it works. Could your SMTP server be limiting which addresses you can send to? That happened with my AWS SES implementation.

[2022-01-19 22:50] thomasjsn opened #761 "Thumbs up (not a bug)"
After searching long and hard for a commenting system I've landed on Isso. Very happy to see there is some movement and engagement from new maintainers.

Just wanted to say thanks to everyone involved.

This is not a bug and may be closed.

[2022-01-20 00:21] thomasjsn opened #762 "Some cookies are misusing the “SameSite“ attribute, so it won’t work as expected"
It doesn't look like the `SameSite` attribute is set on the cookies by Isso. I'm serving Isso on the same domain as the site, but do get the following warnings in Firefox debugger:

Looking at the response headers:

[code]

I've tried setting `samesite = Strict` in the config, but no change.

Suggestions?

[2022-01-20 00:31] thomasjsn commented on #762
Also, why both `Set-Cookie` and `X-Set-Cookie`?

[2022-01-20 08:17] ix5 commented on #761
That's very kind of you :)

[2022-01-20 08:17] #761 closed

[2022-01-20 08:22] thomasjsn commented on #762
I might add that this is not causing me problems, only warnings. But I suspect it will be problematic if Isso is server from another domain.

[2022-01-20 11:00] thomasjsn commented on #762
Confirm that if I append the `SameSite` property to the `Set-Cookie` header in my Nginx config, the warning for `Set-Cookie` goes away:

    proxy_cookie_path / "/; Secure; SameSite=strict";

But this is not so easy to do for the `X-Set-Cookie` header.

[2022-01-20 11:14] thomasjsn commented on #762
Oh, I'm using the 0.12.5 release. Which doesn't include be538a2abbaa1e1ac4461118453cd24c7a5afe93

Any plans for a release which contains the latest changes, available in pip?

Sorry for the monologue :p

[2022-01-20 13:00] thomasjsn commented on #735
You solve it with `proxy_set_header` in the Nginx location block. And have separate server blocks for the two sites. If you are using Nginx as a proxy in front of Isso.

[2022-01-20 13:03] thomasjsn commented on #734
This error looks very much like the one I got when the `SameSite` cookie property wasn't set and I was using different domains for the site and comments...

[2022-01-20 13:03] vsajip commented on #735
No doubt, but that's sub-optimal compared to ISSO being configurable to do the right thing.

[2022-01-27 07:52] Aerya opened #763 "configparser.InterpolationSyntaxError: for SMTP password"
Hi,

How to allow Isso to parse pwds correctly?
`configparser.InterpolationSyntaxError: '%' must be followed by '%' or '(', found: '%!...@c...!Cjq'`

[2022-01-27 13:06] ix5 commented on #763
That's an interesting bug you have found in Isso. Thanks for reporting it!

The issue is that the [`configparser.ConfigParser`](https://docs.python.org/3/library/configparser.html#configparser.ConfigParser) from Python that Isso uses tries to "interpret" (=interpolate) any string containing the `%` symbol using standard python string interpolation.

[code]

The solution for you is to (temporarily)

[2022-01-27 13:15] Aerya commented on #763
Thanks for incoming patch. I'll wait for it, I won't use less secure pwds.

[2022-01-27 13:15] #763 closed

[2022-01-29 23:06] AlekseyLobanov opened #765 "[server] 500 Error with wrong parent"
Hello.
I use latest stable version with Docker setup.
I found that internal sqlite table does not use any constraints on `parent` column of table comments which may be a problem in two cases.
1. DB is corrupted and one of the parents is not valid.
2. Someone trying to add comment with invalid parent.

I tried second case with curl and got 500 Error on client and stacktrace below on server
[code]

[2022-01-29 23:23] ix5 commented on #762
That's up to @jelmer or @blatinier , they have access to pypi.

But I'm sure that something can be arranged. The maintainers (including me) are a bit hesitant to merge things or release new versions because we find it difficult to properly test changes, especially the front-end part.
See https://github.com/posativ/isso/issues/755 and https://github.com/posativ/isso/issues/754

So anyone stepping u

[2022-01-29 23:23] #762 closed

[2022-01-29 23:25] ix5 commented on #765
@AlekseyLobanov thank you for your report.
Would you mind working on a fix and submitting a PR?

[2022-01-29 23:31] ix5 commented on #742
What I meant is that you can run a bash shell inside your docker container. From there on, you can simply import an existing xml file containing your comments.

There is no fundamental difference to running isso inside a docker container to using plain isso on plain debian. The same concepts apply. The only thing to keep in mind is that if you want to access files that are on your host (e.g. `disq

[2022-01-29 23:31] #742 closed

[2022-01-29 23:58] ix5 commented on #655
I do not have a particularly strong opinion on this either way. But I agree with @vincentbernat in testing before blindly rewriting everything.

As a data point: https://caniuse.com/css-variables

Browsers from 2017 (Edge) might not support it. IE 10 doesn't support it. Many big-C Corporate/Enterprise people are still on LTS versions, one way or another. Also, Android 4.4 devices are perfectly fin

[2022-02-01 06:16] Aerya opened #766 "Text not aligned: "No new message" etc"
Hi,

I use Isso (your Docker) with Ghostblog and [Liebling theme](https://github.com/eddiesigner/liebling).
Some text is not aligned, CSS don't apply to it.

![](https://i.imgur.com/5m0zTJJ.png)
https://upandclear.org/on-la-refait/

Here's my client conf
[code]

Problem is as I use Docker I don't want to edit files in it (this text seems to be useless to me anyway). Any advice?

[2022-02-04 14:09] Fryboyter commented on #762
How would that work out roughly? In principle, I would have no problem testing something at weekends or during the week when I have time. However, my knowledge of programming is very limited. Or rather, almost non-existent.

[2022-02-04 17:45] ix5 commented on #762
For this specific change, it'd be great to have someone test different browsers and browser versions to  ensure cookies are set correctly. Especially interesting would be whether Isso is still compatible with tracking restrictions in privacy-focused browsers (or using add-ons such as uBlock Origin).

For testing things in general, having someone run the master branch or a checkout of a pending PR

[2022-02-06 17:10] ix5 commented on #521
Closing since https://github.com/posativ/isso/pull/674 was merged recently.
@0-1 feel free to re-open in case this is still an issue.

[2022-02-06 17:10] #521 closed

[2022-02-06 17:22] ix5 commented on #766
I am guessing you want to apply styles to the `<h4>` element that displays "No comments so far" in French?

The selector `#isso-thread > h4` should be all you need. I see you hid the element with an inline style definition as such:
[code]

You could simply do the following:
[code]

Or are you trying to make the `<h4>` element align horizontally with the post box below it?

Then you should wrap the

[2022-02-06 17:22] #766 closed

[2022-02-06 17:29] ix5 commented on #754
@stefangehn @vincentbernat @pellenilsson @rocka @Lucas-C pinging you for recommendations/insights into JS testing.

Baring any rewrite that gets rid of RequireJS/almond, the testing framework/solution/... should be compatible with these technologies. I'll throw [jest](https://jestjs.io/) into the room, not having any particular experience with it but it looks well-supported.

[2022-02-06 17:37] ix5 commented on #751
@chendachao even if you do not know anything about python, you could be a big help in sketching how this functionality should work.

Here's an overview of what I think you should do to get this "fixed":
1. Ping some people who you think should be consulted and discuss this with them
2. Create two new properties, named `element-allowlist` and `attribute-allowlist`, that defifine _all_ the allowed s

[2022-02-06 17:59] ix5 commented on #751
An alternative approach would be to re-use the existing config key names (`allowed-elements`, `allowed-attributes`) and strip out the default allowed elements. Then add them to the default `isso.conf`.

That way, people who used the `allowed-*` config to define the _only_ items they wanted to allow will not have to change anything and Isso would work the way they probably expected it to work (incl

[2022-02-06 19:16] ix5 commented on #580
Judging by the fact that [vidal-rosset.net](https://vidal-rosset.net/) seems to have a functioning commenting system based ostensibly on Isso as of 2022-02-06, I'd consider this issue resolved.

[2022-02-06 19:16] #580 closed

[2022-02-06 19:17] ix5 commented on #622
@bastidest could you kindly verify this is still an issue?

[2022-02-06 19:17] ix5 commented on #627
@inputuserhere could you kindly verify this is still an issue?

[2022-02-06 19:19] ix5 commented on #566
Closing as duplicate as this is very similar to #647
Please continue discussions there

[2022-02-06 19:19] #566 closed

[2022-02-06 19:20] ix5 commented on #668
@CranberryPie1 could you kindly verify this is still an issue? Without your cooperation, there is no chance to solve this issue.

[2022-02-06 19:21] ix5 commented on #750
@jalsco did you ever get to test out the suggestions presented to you?

If so, would you mind creating that PR to the documentation to help out others with the same issue?

[2022-02-06 19:23] ix5 commented on #748
@vegeta123254 could you kindly verify whether the issue is indeed caused by what @thomasjsn suggested?
Without further logs/setup info it will be hard to verify and fix your issue.

[2022-02-06 19:36] Lucas-C commented on #754
I can confirm that, in my experience, `jest` is very good!

[2022-02-06 19:50] ix5 commented on #735
Possibly related: https://github.com/posativ/isso/issues/720, https://github.com/posativ/isso/issues/558

PRs welcome.

[2022-02-06 19:51] bastidest commented on #622
@ix5 It seems to work now with the original configuration I posted. I did not have to change anything.

However, using a trailing slash in the `location` and `proxy_pass` directive seems to be the "most correct". [Source](https://serverfault.com/a/870620)

[2022-02-06 19:51] #622 closed

[2022-02-06 19:55] ix5 commented on #736
The decision to return a 404 was made in b15f1773 by the project author, probably with not too much thought about the correct response code.

I can't see any reason for not returning a 200 here, apart from semantics on whether an empty page _must_ be a 40X.

[2022-02-06 19:57] ix5 commented on #305
@kaushalmodi is this still a current issue?

[2022-02-06 20:12] ix5 commented on #297
@damnms can you confirm this is still an issue with gunicorn? Please post versions of all software used.

@hiliev can you confirm this is still an issue with uwsgi? Please post versions of all software used

[2022-02-06 20:15] ix5 commented on #292
I see https://github.com/posativ/isso/commit/faaff1d4acaad42fc6485ce2090875ade265ea43 as part of https://github.com/posativ/isso/pull/473, so I assume you fixed your problem yourself.
Feel free to re-open in case I am wrong.

[2022-02-06 20:15] #292 closed

[2022-02-06 20:15] hiliev commented on #297
I don't know if this is still an issue with uwsgi since I'm no longer running isso. Sorry about that.

[2022-02-06 20:17] ix5 commented on #275
@remcoboerma is this still current?

[2022-02-06 20:26] kaushalmodi commented on #305
@ix5 I'll close this issue as I am not using isso right now.

[2022-02-06 20:26] #305 closed

[2022-02-06 20:37] ix5 commented on #297
Looks like with current uwsgi version 2.0.20, the situation is actually reversed.

Assuming the setup from the [uwsgi Quickstart](https://uwsgi-docs.readthedocs.io/en/latest/WSGIquickstart.html), with `foobar.py` as the `wsgi-file`.

This throws an error:
[code]
`$ ./uwsgi --http :9090 --wsgi-file foobar.py`
[code]

This, however, works fine:
[code]

It's about the return type, which must either b

[2022-02-06 20:37] #297 closed

[2022-02-06 20:38] ix5 commented on #125
This should be fixed by https://github.com/posativ/isso/pull/565

[2022-02-06 20:38] #125 closed

[2022-02-06 21:09] ix5 commented on #754
That's great to hear! Do you have any particular examples of similar usage which might help in implementing testing for Isso?

In any case, we'd also have a need of bringing up the server part (via docker?) to test out responses (or find a way to mock them).

[2022-02-06 22:23] Lucas-C commented on #754
No I don't have any useful example at hand...

However, what would you think about also introducing a code linter as part of the GitHub Actions pipeline?
`eslint` for example. Maybe I could find the time to submit a PR introducing it...

[2022-02-06 23:07] ix5 commented on #754
No worries, maybe someone else has.

I'm not at all opposed to that. But same goes for linters as @jelmer and me wrote in https://github.com/posativ/isso/pull/756 - adding automatic code "quality" analysis tools is nice and all, but that still means not one line of actual tests has been written.

I feel like every time we bring up this issue, the answer seems to be to add some "magic sauce" to thi

[2022-02-07 07:24] Aerya commented on #766
Hi,

Yeah was talking about "Aucun commentaire pour l'instant". This should be centered by default. Thus I already hide it using code injections as you say
[code]
Isso includes a CSS option that centers the comment block, so it seemed logical to me that this text should be too since it depends on it and is almost stuck to it.

Nevermind, thanks for the good work anyway.

[2022-02-07 10:19] Lucas-C commented on #754
I fully agree with you @ix5!

I had a quick look at the Javascript code, and DOM manipulation seems closely tied to isso functional logic 😔
It may be hard to test the code without an actual web browser.

I see several options:
* setup some **JS unit tests** (using Jest for example), but it may take quite some time and effort just to get 50% of code coverage
* setup a **static analysis tool** (a li

[2022-02-08 13:20] srijan commented on #19
https://gitlab.com/mardy/bussator does this for isso (but I've not tried it yet).

[2022-02-08 20:57] ix5 commented on #754
@Lucas-C thank you for your insights!

I have managed to make some strides in reducing the interdependence and modernizing the codebase a bit. To have any chance of integrating Isso with an existing testing framework, I feel like this is a blocking necessity.

See [ix5/isso@js-rework](https://github.com/ix5/isso/commits/js-rework)

I've dropped `RequireJS` and `almond` in favor of `webpack` (which

[2022-02-09 21:56] ix5 commented on #766
For future reference, we've enabled GitHub Discussions (over [here](https://github.com/posativ/isso/discussions)) to have a more suitable place for these kinds of questions/requests.

Feel free to try it out!

[2022-02-10 18:01] GHSam opened #771 "Isso always calls count even if not needed"
I'm not using comment counts on my page but the isso embed.js code is sending an empty request for them.

It looks like [the count code is missing a check](https://github.com/posativ/isso/blob/a7c1069cf5feab721a166e7796ce725287a46189/isso/js/app/count.js#L24) to see if there are any matching URLs before making the request.

[2022-02-10 20:11] ix5 commented on #619
@pawo1 could you verify this is still current?

I just set my browser "accept" language to `pl` and Isso displays labels in Polish on the latest master branch.

[2022-02-10 20:20] #539 closed

[2022-02-10 20:25] #462 closed

[2022-02-10 20:28] ix5 commented on #440
@budui @rawsh do you feel like working on this?

[2022-02-10 20:29] ix5 commented on #441
@m-cat would you mind submitting a PR that fixes the behavior?

[2022-02-10 20:32] ix5 commented on #455
Could be difficult because on the server side, votes are implemented as a Bloom filter store, see `comments.py`:
https://github.com/posativ/isso/blob/25189829c47d3e1259e9ab7440b812edec50a6b2/isso/db/comments.py#L296

[2022-02-10 20:33] #381 closed

[2022-02-10 20:34] ix5 commented on #372
Should be fixed by linked PR.

[2022-02-10 20:34] #372 closed

[2022-02-10 20:35] ix5 commented on #361
@madranet would you mind verifying whether this is still an issue?
A vaguely recall you managed to set up Isso correctly after me helping you in another PR.

[2022-02-10 20:40] ix5 commented on #294
This is something that can be set via CSS. I remain convinced introducing _yet another_ config option for this would further complicate Isso and make maintenance harder.

[2022-02-10 20:40] #294 closed, assigned to nobody

[2022-02-10 20:40] GHSam commented on #771
@ix5 just noticed you've added the needs-contributor label. I can send a PR for this if you want?

[2022-02-10 20:41] ix5 commented on #286
Moving to "Ideas" since no one wants to work on this.

[2022-02-10 20:41] #286 closed

[2022-02-10 20:42] ix5 commented on #771
That'd be great! Please explain your rationale though, since I'm still not quite sure what the exact behavior _should_ be.

[2022-02-10 20:42] ix5 commented on #278
Unlikely to ever be verified.

[2022-02-10 20:42] #278 closed

[2022-02-10 20:43] ix5 commented on #277
@fulljackz would you kindly verify this is still an issue?

[2022-02-10 20:44] #133 closed, assigned to nobody

[2022-02-10 20:53] ix5 commented on #205
Seems @sprin has diverted their attention elsewhere. pg-discuss development has seemingly stalled in 2016.

The issue for using a different database backend at https://github.com/posativ/isso/issues/61 is still open, but without the driving force of @sprin or contributors such as @reubano, I'm afraid the effort to make Isso's frontend pluggable into other backends will never be tackled.

Closing a

[2022-02-10 20:53] #205 closed

[2022-02-10 20:53] GHSam commented on #771
I was thinking just a test to check if the urls array is empty and if it is, don't bother sending the request as it does nothing if it is empty.

Something like:

[code]

[2022-02-10 20:55] ix5 commented on #771
maybe @zaygraveyard is the right person to chime in on this

[2022-02-10 21:01] ix5 commented on #180
For later reference, this would require scraping the date from the fetched page, which might fail (needing retry logic).
We already fetch the page title and have a dependency for html5lib.

[2022-02-10 21:02] ix5 commented on #177
This would be a good first issue for a beginner.

[2022-02-10 21:06] ix5 commented on #153
Closing in favor of https://github.com/posativ/isso/issues/673

[2022-02-10 21:06] #153 closed

[2022-02-10 21:08] ix5 commented on #131
@matlink @Zimmi48 is this still a current issue?

[2022-02-10 21:10] ix5 commented on #120
There are several documented ways of running Isso now, either behind a proxy server or via e.g. uwsgi, gevent, gunicorn.

[2022-02-10 21:10] #120 closed

[2022-02-10 21:12] ix5 commented on #156
Is transifex even used any more? Pretty sure not.

[2022-02-10 21:15] #76 closed

[2022-02-10 21:18] #51 closed, assigned to nobody

[2022-02-10 21:21] ix5 commented on #31
This might be implemented as part of the [syscall](https://github.com/posativ/isso/pull/457) or [Webhook](https://github.com/posativ/isso/pull/724) PRs.

Closing this one, anyone still interested can amend the linked PRs or comment there.

[2022-02-10 21:21] #31 closed, assigned to nobody

[2022-02-10 21:22] fulljackz commented on #277
Hi @ix5 ,
I don't really known, but as far as I do not use isso anymore, you can close I guess :smile:

[2022-02-10 21:24] ix5 commented on #17
- Error messages should be part of https://github.com/posativ/isso/issues/673
- An explanation of email addresses and what fields get used/displayed on the client side are in need of an overhaul, probably also belong in #673

[2022-02-10 21:24] #17 closed

[2022-02-10 21:26] ix5 commented on #14
Since Isso is still built using ancient technologies, most browsers nowadays should be able to render it correctly.

I have seen quite some people using messages such as "Isso comments needs Javascript to work" in the wild, that might be something to put into the docs.

[2022-02-10 21:29] ix5 commented on #11
@fluffy-critter did you eventually come up with something?

[2022-02-10 21:30] fluffy-critter commented on #11
I haven't had time/energy to work on anything, unfortunately.

[2022-02-10 21:31] ix5 commented on #6
Animating comments definitely falls into nice-to-have territory, but leaving open on backburner.

[2022-02-10 21:34] taoeffect commented on #11
Hey guys: consider PoW as a simpler means of spam filtering:

- https://git.sequentialread.com/forest/pow-captcha
- https://mcaptcha.org/

[2022-02-10 21:36] ix5 commented on #11
Those two look interesting, but heads up, they require modern browsers and wasm support.

[2022-02-10 21:38] fluffy-critter commented on #11
Also I'm not sure what problem that actually solves, beyond making sure someone's idle on a page for a certain amount of time before they submit. Most of the spam I get appears to be submitted by humans who are paid money to defeat CAPTCHAs, as has been the case with most comment spam for at least the past decade.

[2022-02-10 21:46] taoeffect commented on #11
It would cut down on some spam, probably not all. You could increase the difficulty most likely in the settings, etc. It's simple to setup. There are tradeoffs with everything. If you really wanted to prevent all spam (and also some legitimate comments), you could charge micropayments over the lightning network. :P

[2022-02-10 22:20] ix5 commented on #754
### Progress report

As of now, my branch has a complete port to CommonJS syntax instead of the previous RequireJS-style `define(["foo/bar"], function(foobar) { ... });` style.

**Jest** is set up and I have a few simple tests configured, which can import some Isso modules and pass. Anything relying on `document` properties is a bit iffy to mock, but that works okay-ish. Will work on decoupling st

[2022-02-10 22:21] ix5 commented on #754
@Lucas-C @stefangehn (and anyone else interested) feel free to contact me at the email address listed on my website (contact section), I'd love to talk to you about this and have a few questions.

Sadly, the IRC channel `#isso` (even on libera.chat) seems vacant.

[2022-02-10 22:58] mcepl commented on #76
Except flask is by mtsushiko as well … isn’t it dependent on werkzeug in the end?

[2022-02-11 07:52] stefangehn commented on #754
@ix5 Wow, thanks for all the work. My attempt to replace jade with pug (without touching the other cruft) totally failed as I can read JS but otherwise have zero knowledge about the whole JS ecosystem and its rapid change from one technology to another.

I'm actually around on IRC, you can ping me (`mETz`) if you'd like to discuss the changes. I at least know a bit about testing in languages other

[2022-02-11 15:50] posativ commented on #14
Absolutely.

I think the web is almost unusable without JavaScript nowadays. User with JavaScript disabled are 99% very tech-savvy and should understand how this software works internally.

[2022-02-11 15:50] #14 closed

[2022-02-11 17:01] pawo1 commented on #619
Sorry, I forgot to close this issue. Building source again solved the problem.

[2022-02-11 17:01] #619 closed

[2022-02-11 23:45] m-cat commented on #441
Certainly. My rate is $200/hour. For this particular project I would require a $100 up-front payment, as it does not seem too involved. Please write to the email provided on my profile with further inquiries. Thank you.

[2022-02-12 13:30] ix5 commented on #673
Related as reported by @m-cat in https://github.com/posativ/isso/issues/441

[2022-02-12 13:31] ix5 commented on #441
Thank you for your offer. Funding is a major problem in the FLOSS world. I am afraid there is currently no process of raising or distributing funds associated with this project and I am not aware of any efforts to create one.

Speaking for myself, I am also not interested enough to "contribute" to "fix" this "issue".
However, if anyone feels like they need to financially support **_you_** to fix a

[2022-02-12 13:31] #441 closed

[2022-02-13 20:26] ix5 commented on #397
Having thought about this a bit, your arguments convince me.
Would you like to submit a PR that introduces such ways of configuring Isso?

[2022-02-13 20:34] ix5 commented on #725
The debian package has been discontinued according to jelmer in https://github.com/posativ/isso/discussions/774#discussioncomment-2153559

Since no one seemed to want to tackle the issue, I decided to move forward with a webpack port, which dropped `jade` (and associated hacks/shims) in favor of `pug`.

I've assigned this to milestone 0.13 since a major reworking of the way the client is assembled

[2022-02-13 20:35] ix5 commented on #652
Should be fixed once https://github.com/posativ/isso/pull/553 lands.

[2022-02-13 20:41] ix5 commented on #563
https://github.com/fluffy-critter/isso/commits/disqus-thread-id looks pretty much ready for prime-time to me.

Do you think you could find the time to make any changes you felt were still necessary and then have one of the other maintainers take a look at it? I'd be happy to review.

[2022-02-13 21:42] ix5 commented on #771
@GHSam would you like to submit a PR with @zaygraveyard's suggestion applied?

[2022-02-13 22:03] ix5 commented on #297
(So that I don't forget: https://github.com/ix5/isso/tree/utils-py2-bytes probably belongs in here with uwsgi oddities, too)

[2022-02-15 21:57] ix5 commented on #381
For the record: https://github.com/posativ/isso/commit/07ce742b7798a1140abcb292aebecd31ff242ac5 inserts M4a1x's suggestion into the docs.

[2022-02-15 22:32] ix5 opened #797 "Improve & expand documentation"
Isso's docs have grown over time and some instructions have become outdated. Other parts lack needed info or are just not very inviting to newcomers.

### Main problems
- Information scattered over code comments, README, docs, (old) GitHub issues
- Contribution guidelines are unclear to some people. @Guts complained about this in IRC and there should be some guidance on what kind of changes are fa

[2022-02-15 22:38] ix5 commented on #765
Related: https://github.com/posativ/isso/issues/531

[2022-02-17 11:29] ix5 commented on #755
@Guts we already have flake8 (via `make flakes`), would you care to modify the config (inside `setup.cfg` so far) so that it catches more things?

[2022-02-17 11:47] ix5 commented on #27
Should be fixed by #252

[2022-02-17 11:47] #27 closed

[2022-02-22 11:55] Zimmi48 commented on #131
Sorry, I wouldn't know. I haven't used isso in years.

[2022-02-22 16:30] Lucas-C commented on #720
This is strange...

On my side, it works fine:
[code]

[2022-02-23 07:57] Lucas-C commented on #720
@ix5 Maybe you could create a PR from your branch?

[2022-02-23 20:01] ix5 commented on #720
## CORS

First off, a bit of explanation how CORS is supposed to work, since there might have been a few misunderstandings that lead to this.

`CORS` stands for "Cross-Origin Resource Sharing". It is implemented as a series of HTTP headers called `Acces-Control-Allow-Origin` (and related ones, see code snippet below).

It is essentially a mechanism to avoid bad actors sniffing credentials or runni

[2022-02-23 20:02] ix5 commented on #735
As I tried to explain in https://github.com/posativ/isso/issues/720#issuecomment-1049162444, please set the correct headers in your proxying server.
The docs should be updated to reflect this necessity, but I am afraid I can not accomodate your wishes.

[2022-02-23 20:02] #735 closed

[2022-02-23 20:04] ix5 commented on #736
@vsajip submit a PR if you like, this is a 1-line fix.
No one has raised objections so far and again, I can't see any reason for keeping the current state, which probably wasn't intentional anyway.

[2022-02-23 20:20] Lucas-C commented on #720
Very detailed explanation, thanks @ix5 !
While I knew well about CORS, your comment is utterly accurate and a very nice refresher on how isso handle things.

For the record, I originally wanted to be able to use my self-hosted `isso` instance at `chezsoi.org` from a website hosted at `subdomain.chezsoi.org`. This was this original motivation behind #393.

Hence I think there is a valid use case be

[2022-02-23 20:27] ix5 commented on #720
So you mean you wanted to avoid listing all possible sites where you would allow commenting and embed the `embed.min.js` from? I.e. not have this:
[code]
But instead of `ISSO_CORS_ORIGIN=*.chezsoi.org`.

I can see why you would want that, since that syntax is valid for e.g. CSP headers, but IMO there aren't too many users out there who have more subdomains than they could list in the conf file.

H

[2022-02-23 20:36] Lucas-C commented on #720
That's exactly what I wanted yes 😊

Could this `host` configuration entry by used for other purposes than CORS HTTP headers?
For example, it is used in `SMTPConnection` and in the HTTP connection check in `make_app`.
I wonder if adding hosts there could have unexpected consequences.

[2022-02-23 20:44] ix5 commented on #720
[code]
Different `host`, this one is from the `[smtp]` section:
https://github.com/posativ/isso/blob/568debf6737d2f3462bdd9baa5ace45031b8ed95/share/isso.conf#L133-L148

Only uses the first reachable host for a one-time connectivity check.

That's... honestly never been a concern to me ;)

[2022-02-23 20:46] Lucas-C commented on #720
Alright 😊

Then go and nuke that useless configuration setting !

[2022-02-23 20:57] ix5 commented on #720
Would you mind helping out with that? I don't mean to bully you into spending time on this project you're ready to spare, but me committing most of the code to this project as of late, with practically no one pushing back or looking over the code, is something I'm not really comfortable with.

It isn't sustainable in my eyes, and as you've probably already experienced yourself, interest in OSS con

[2022-02-23 21:02] ix5 commented on #652
#553 is probably not landing, reopening.

[2022-02-24 20:08] ix5 commented on #560
Accepting self-signed certs _not_ inside the system/user keystore would be implemented in one of two ways, neither of which is pretty:
1. Not validating certs altogether
2. Keeping a cert fingerprint (maybe cert SHA1 or something similar) inside Isso's config

This is not something that makes sense to have and is incredibly error-prone.

If you want to improve the documentation and show ways to im

[2022-02-24 20:08] #560 closed

[2022-02-24 20:13] ix5 commented on #82
Closing in favour of discussion in #321.

Especially https://github.com/posativ/isso/pull/321#issuecomment-382148195 is a nice solution.

[2022-02-24 20:16] ix5 commented on #96
Let's focus on reworking the API once the need arises.

[2022-02-24 20:16] #96 closed

[2022-02-24 20:18] ix5 commented on #105
Most recent activity in #240. https://github.com/posativ/isso/pull/261 partially solves this.

Closing in favour of those linked issues/PRs.

[2022-02-24 20:18] #105 closed

[2022-02-24 21:15] ix5 commented on #121
Tracked in https://github.com/posativ/isso/pull/804

[2022-02-24 21:15] #121 closed

[2022-02-26 07:08] vsajip commented on #735
The sites I'm working with are in a shared hosting environment, not a VPS. I don't have control over the proxy server configuration. With reference to your comment in #720, I'm in option (b) but with no way to set headers. How do you suggest I resolve this?

[2022-02-26 21:19] ix5 commented on #735
I can see your point. While your case is valid, my opinion remains that adding more handling for edge cases will not serve us in the long run.

The same root problem - Isso's notion of multiple-sites setup using multiple Isso instances - will bite us again and again.

https://github.com/posativ/isso/issues/647 and https://github.com/posativ/isso/issues/566 are related as well. Ideally, Isso would

[2022-02-27 09:24] ix5 opened #806 "Call for testing: Isso 0.12.6"
We are getting ready to release Isso `0.12.6`.

If no major _new_ bugs are found, we will publish a release within one week (March 6th, 2022).

Please test extensively! Instructions for testing the latest release from the `master` branch can be found at [Installation from source](https://posativ.org/isso/docs/install/#install-from-source).

Here are some ideas:
- Post a comment
- Post an answer to

[2022-02-27 10:17] vsajip commented on #735
Yes, this would be a better direction to move in.

[2022-03-02 10:02] antont commented on #240
We are testing Isso with the idea that would have it as a module / complementary service, in an existing service where we already auth the users by other means.

So am just making a wish / note, that having users and auth in Isso would be nice to have cleanly separated, so that Isso is also simple to use with other auth and user info systems.

[2022-03-03 21:16] ix5 commented on #720
The change is already merged, see https://github.com/posativ/isso/pull/803

Don't worry, thank you for your review for the webpack and Jest migration so far, that's also much appreciated! The only thing missing now is an entry into the docs that kind of integrates my previous remarks about CORS.

[2022-03-04 20:04] ix5 commented on #240
Yes, I agree. Keeping the core lean and extensible is the right way to go.

#311 has been merged and I'd like nothing more than for @pellenilsson's great contributions to find their way into upstream Isso.

@posativ made some strides in reworking the core in https://github.com/posativ/isso/pull/108 but decided to abandon the work. [pg-discuss](https://github.com/sprin/pg-discuss/) by @sprin was al

[2022-03-04 20:11] ix5 commented on #331
This is a nice idea and would probably also make a lot of people happy who swear by their static blog engines.

I can see two issues though:

First, a duplication of functionality. If both the server and the client are supposed to render HTML, we'd end up re-implementing the whole client part in python (possibly using `jinja2` templates or what-have-you).
Or, we'd render as much as possible on the

[2022-03-04 20:31] fluffy-critter commented on #331
I think having all of the rendering happen server-side and having the API be "give me HTML for this post" vs. "give me HTML for this thread" would be a good starting point.

Also where does the client data ever get rehydrated aside from the 'edit post' button? That can be part of the edit API. And isn't the Markdown converted to HTML server-side, anyway?

I don't really see what a fully-Javascript

[2022-03-04 21:53] jelmer commented on #331
The JavaScript rendering means you can embed in a static site. Unless you're going to embed e.g. the post counts in iframes I don't think server side rendering gives us the same functionality.

[2022-03-04 22:26] fluffy-critter commented on #331
There's no reason the rendering has to happen in Javascript, though, the whole thread rendering can be done in the server-side API and send it back as the response payload. Which is my understanding of what was happening with the Markdown already.

I'm also not saying that the API would be made Python-embedding only, just that things could be refactored to allow Python apps to embed the comment re

[2022-03-04 22:31] fluffy-critter commented on #331
Oh and just to be clear, retrieval of the preview render would still happen in Javascript, in this scenario. I'm just talking about the rendering of the thread as a whole.

It might also help simplify the configuration of things, because then the thread rendering configuration on the server doesn't have a chance to mismatch the client, like then client doesn't have to be configured whether or not

[2022-03-04 22:39] jelmer commented on #331
Yeah, I have no problems with supporting a Python API as well (though there are maintenance costs of supporting both). I was just responding to the suggestion of only providing a Python API.

[2022-03-04 22:49] fluffy-critter commented on #331
I don't think anyone was suggesting that. If that's how you interpreted what I was saying, it wasn't my intention and I apologize for my lack of clarity.

[2022-03-06 12:15] ix5 commented on #806
Here's a version as of `0.12.6-pre` for testing:

**[isso-0.12.6.tar.gz](https://github.com/posativ/isso/files/8192515/isso-0.12.6.tar.gz)**

[2022-03-06 18:48] fliiiix commented on #806
One little data point: did some quick testing on my production site and it looked fine

[2022-03-06 20:06] ix5 commented on #806
@fliiiix just FYI, all those PRs you opened are perfectly valid but won't make it into this release. Will review when I get to them.

[2022-03-06 20:15] fliiiix commented on #806
No worries 0.12.6 seems to work fine most of my PRs are very minor improvements

[2022-03-06 20:50] ix5 commented on #61
Collecting: https://github.com/jingwanhsu/isso-postgresql, https://github.com/colindembovsky/isso-mysql, https://github.com/posativ/isso/pull/108

[2022-03-12 08:17] antont opened #812 "Support sending custom headers (e.g. session token) in requests from Isso JS client"
Hi - am using external authentication for users with Isso, because we embedded Isso in a system where already had user info, auth and sessions using bearer tokens.

For the Isso client side requests, like posting a new comment, I needed to add the session token to the requests. I hacked this in one way sort of ok way that works for us, by adding new Isso client param `bearer-token-cookie` with the

[2022-03-15 12:16] antont commented on #812
Thanks for tagging @ix5 - just a note: AFAIK this does not necessarily affect the server side at all. Now I did it by hacking `isso/js/app/api.js` only in that commit, and it could be some register-extension / wrapper / custom-headers-setter hook in the js lib. The option is for the script tag in the html, could be used for that or not, also can be just a call in the embedding js to config the hea

[2022-03-15 15:39] ix5 commented on #806
0.12.6 is now released on [PyPi](https://pypi.org/project/isso/0.12.6/).

[2022-03-15 15:39] #806 closed

[2022-03-15 15:44] ix5 opened #813 "Better compartmentalization, implement Extension system"
For ease of maintenance, development iteration speed and long-term viability, Isso should untangle its massive inter-dependencies and offer a way for users and developers to implement their own functionality without having to modify the (upstream or forked) core.

Collecting ideas:
- https://github.com/posativ/isso/pull/108
- https://github.com/sprin/pg-discuss/ with extension system

Possibly rel

[2022-03-16 01:46] chendachao commented on #751
Sorry, I think it's irresponsible to make a PR if I don't understand the source code. Could you make that changes?

[2022-03-16 12:13] fliiiix opened #814 "Github Action should build and deploy api docs"
It would be cool to have a easy way to access the build api docs for each PR.
See: https://github.com/posativ/isso/pull/810#issuecomment-1068210483

If someone wants to work on that just sign up here to do it, otherwise i will create a proposal for that when i find time :D.

[2022-03-18 17:38] Kerumen opened #815 "Postbox now appended after the comments"
Since [this PR](https://github.com/posativ/isso/commit/02f3ea0658680ce200258bc66d509403846b62d5#diff-cb455ab6a8d6bffcff6c41ffa6e2d8085369a4c3efbc5dbb49b738fe7f77ea01R73), the postbox is now appended after all the comments which is a bit annoying if you have a lot of comments. It was better to append it _before_ the `isso-root` (`<div id="isso-root"></div>`) to enable easy commenting from the users

[2022-03-19 22:33] adroste commented on #815
Same here. Super annoying.

[2022-03-20 11:17] Kerumen commented on #815
CSS workaround:

[code]

[2022-03-20 20:39] ix5 commented on #725
https://github.com/posativ/isso/pull/800 moved Isso's client templating engine to `pug`. Closing.

[2022-03-20 20:39] #725 closed

[2022-03-20 21:10] ix5 commented on #814
I've been in contact with @posativ about having docs auto-deploy instead of him uploading them whenever he finds the time.
Let's wait until he has some time to judge the proposal's merits and then potentially include the generated API docs.

[2022-03-20 21:11] ix5 commented on #814
fwiw, I've created a branch with apidoc generation commands, maybe we can agree on those https://github.com/ix5/isso/tree/apidoc

[2022-03-20 21:42] ix5 commented on #815
Thank you for reporting this issue. I have tagged [0.12.6.1](https://github.com/posativ/isso/commits/0.12.6.1) and uploaded a hotfix release to PyPi.

While I'm glad this regression was reported, it would have been better for all parties involved if someone had [tested and reported](https://github.com/posativ/isso/issues/806) this issue _before_ release.

I've pushed a PR of the fix as https://git

[2022-03-20 21:42] #815 closed

[2022-03-21 08:33] ix5 commented on #812
All I can say on this topic is that this is a prime example for the need for an extension system, both on the client and on the server.

See https://github.com/posativ/isso/issues/813

For example in the `curl()` function, we might pass the `xhr` object into an extension hook that runs before `xhr.send()`, as well as allow hooking `onload()`.

[2022-03-21 10:09] antont commented on #813
BTW on server side, comments.py `def _process_fetched_list(self, fetched_list, plain=False):` seems like a nice extension point: Isso already does processing to add avatar info based on confs, but that same place could call whatever other processors for the comments list.

I'm adding url string avatar info in our fork somehow now, our users already have the avatar url in their data.

[2022-03-21 16:33] fliiiix commented on #814
But this does not upload the artefacts to somewhere and does not build on a pr right?

[2022-03-21 16:46] ix5 commented on #814
Yes, that branch was just an example as a starting point for you.

For auto-deployment, see e.g. https://github.com/SoMainline/docs.somainline.org/blob/9900033292e5cf54ae3ed73edfb43841c51ec84d/.github/workflows/publish.yml

[2022-03-21 21:06] ix5 commented on #813
Yes, that's a great entry point you've identified.

In case you would like to discuss back-and-forth with other contributors taking a look at this, you're also very welcome to join the IRC `#isso` on Libera.Chat or via [Matrix](https://matrix.to/#/#isso:libera.chat)

[2022-03-22 07:20] ix5 commented on #442
Tracked in # 816

[2022-03-22 07:20] #442 closed

[2022-03-22 07:23] #275 closed

[2022-03-22 22:18] davidak opened #829 "Support Webmentions"
By supporting [Webmentions](https://www.w3.org/TR/webmention/), a site can be part of the [Indieweb](https://indieweb.org/).

[2022-03-23 09:19] ix5 commented on #829
This is something that should be implemented as a plugin or as a layer on top of Isso.

Already tracked in https://github.com/posativ/isso/issues/19 (though judging by the lack of contributors to the issue, you can probably guess the likelihood of this ever being implemented).

[2022-03-23 09:19] #829 closed

[2022-03-23 10:41] #156 closed

[2022-03-23 11:20] ix5 commented on #754
Also of note: https://github.com/jGleitz/isso-clientlib by @jGleitz

Would be great to somehow pull in a few tests of that hugely impressive effort. It's a shame that so many great initiatives live in outside or forked repos and seldomly manage to make their way into upstream Isso.

[2022-03-27 14:16] ix5 commented on #755
As a reference point, this is the current coverage:
[code]

[2022-03-27 17:58] fliiiix opened #830 "Gravatar issues"
Looks like there is an display issue with gravatar images
![image](https://user-images.githubusercontent.com/1682954/160294148-2ac89bda-6ee7-4665-b7c8-243a2270f9b4.png)

vs the non gravatar images which are smaller

![image](https://user-images.githubusercontent.com/1682954/160294227-fc2e1619-8c3f-4064-bb5f-2a138eda0f2e.png)

also related this could be a bit misleading:

Since Isso version 0.12.6,

[2022-03-27 21:59] ix5 commented on #830
https://github.com/posativ/isso/pull/831

[2022-04-14 20:49] #830 closed

[2022-04-20 18:43] Gymnae opened #836 "Docker won't build docker image"
After a fresh clone, I receive the following error:
[code]

My host is a Linux x64 Debian 11 system

[2022-04-22 02:59] BBaoVanC commented on #836
I'm getting this same issue, also on a Debian 11 system.

[2022-04-22 19:48] ix5 commented on #836
A quick [Google-Fu](https://stackoverflow.com/questions/66093284/unsupported-platform-for-fsevents2-3-2-installation-issue) reveals that the OS inside the container most likely has a version of **`npm` that is too old**.

Currently, the Isso `Dockerfile` uses Debian "Buster" as a base for js-related stuff, which seems to bundle a very old version of node and npm.

I've been meaning to revamp the `

[2022-04-22 22:48] BBaoVanC commented on #455
In addition to this, it would be nice to highlight the vote if you've already picked one. Would that at least require less work to implement?

[2022-04-22 23:17] BBaoVanC commented on #836
Tested this Dockerfile and it works for me!

[2022-04-23 00:49] BBaoVanC opened #837 "[client] Option to enable email notifications by default"
I would like to make the checkbox to get email notifications enabled by default instead of needing to manually click it.

[2022-04-23 01:07] BBaoVanC opened #838 "[client] When scrolling to a linked comment, it should have some highlight"
When using a link such as `https://example.com/post-1/#isso-4` for example, the comment that is being linked to should flash a couple times to make it identifiable from other nearby comments.

[2022-04-23 04:37] BBaoVanC opened #839 "[client] [docker] `Uncaught TypeError` when pressing preview"
I'm using the latest commit on master inside Docker running on a separate domain. Everything else so far is working perfectly, but when I click on `Preview`, I get an error in console and nothing else happens. Problem though is that it's minified, and I couldn't figure out how to make an unminified version of the script so it's more readable. So I don't really know where to go from here.

[code]

[2022-04-23 09:08] Gymnae commented on #836
I can second this, the docker file posted by @ix5 in his [reply](https://github.com/posativ/isso/issues/836#issuecomment-1106810323) works fine :)

[2022-04-23 10:31] ix5 commented on #837
That would probably necessitate the introduction of a client-side preference via `data-isso-*` attributes, since not everyone would want that by default.

[2022-04-23 10:35] ix5 commented on #838
That's a bit overkill imo. Putting a slight border around the comment which fades away after a few seconds sounds okay though. Happy to hear any other opinions and links to / images of concrete examples.

Might be implemented via css `:focus` selectors?

[2022-04-23 11:14] ix5 commented on #839
You can use `embed.dev.js` (which includes a source map) instead of `embed.min.js`. Firefox will then show more helpful traces.

Which docker image are you using? The one I shared in the [other thread](https://github.com/posativ/isso/issues/836#issuecomment-1106810323) ?

Note I cannot reproduce your error, but I see the error at e.g. https://bbaovanc.com/blog/caddy-is-the-best-webserver/#isso-1 t

[2022-04-23 11:35] #839 closed

[2022-04-23 11:45] #836 closed

[2022-04-23 13:42] Kerumen opened #842 "[client] `fetchComments` is adding another PostBox even if there is already one displayed"
Everytime we call `window.Isso.fetchComments()`, a new PostBox is added, even if there is already a PostBox displayed. It means that if we call it 4 times, there will be 4 PostBox displayed.

<img width="961" alt="Screenshot 2022-04-23 at 15 43 20" src="https://user-images.githubusercontent.com/5436545/164901535-25274051-e169-45c4-a56c-4077bd63698c.png">

[2022-04-23 19:19] ix5 commented on #842
Recent changes made to `isso.js` which moved the logic of the postbox creation to after the `/config` endpoint had been fetched introduced this issue.

Currently, Isso promises the `window.Isso.fetchComments()` and `window.Isso.init()` functions to users [in the docs](https://github.com/posativ/isso/blob/46f1bc851868e406a97c4ab3b9a7f024508503e7/docs/docs/extras/advanced-integration.rst#asynchronou

[2022-04-23 19:21] ix5 commented on #842
Also, the styling to the comment box in the screenshot you attached looks very cool! Very elegant and understated.

Maybe you could **share the CSS you used**, and **if people agree**, we could make something like it (with better contrast than grey-on-grey text, and without the cool-but-too-whimsical submit button) the **Isso default?**

[2022-04-23 20:16] BBaoVanC commented on #838
It looks like this already mostly works using the CSS `:target` selector. Here's an example that mostly works with an unmodified Isso instance.

[code]

A couple problems currently but it should be easy to fix:

1. it doesn't show on the initial page load. It looks like it only shows if you click a comment to link to it when the comment section is already loaded. I'm not sure about how to fix this

[2022-04-23 20:27] ix5 commented on #842
@Kerumen I noticed that I still had https://github.com/posativ/isso/pull/821 open. I changed the logic there and pushed just now, so maybe you could review that PR again, with the new changes.

[2022-04-23 23:19] ix5 commented on #82
Re-opening until someone adds the proposed CSS solution to the docs.

[2022-04-23 23:21] ix5 commented on #572
Seems this might better be implemented in some kind of the aforementioned activitypub/webmention format, externally.

Allowing file uploads seems kind of out of scope for isso, IMO. Closing - feel free to ping if you feel this is still a viable issue.

[2022-04-23 23:21] #572 closed

[2022-04-23 23:22] ix5 commented on #531
Closing in favor of https://github.com/posativ/isso/issues/765

[2022-04-23 23:22] #531 closed

[2022-04-23 23:23] ix5 commented on #765
@AlekseyLobanov would you like to work on a PR?

[2022-04-23 23:25] ix5 commented on #765
Copying over from #531, quoting @budui

https://github.com/posativ/isso/blob/6092881bb205c999a8f7f086dd5d20f686d641ea/isso/db/comments.py#L49-L52

[2022-04-23 23:25] BBaoVanC commented on #82
I think a badge next to the author's name plus a different name color would be better than a message background. I think it's easier than trying to deal with trying to make the background fit in with the visual style.

[2022-04-23 23:27] ix5 commented on #82
As a first step to allow better styling, the author `hash` should be inserted into the `.isso-comment` div, not only as the has to the svg.

@BBaoVanC would you like to work on something like this?

[2022-04-23 23:29] ix5 commented on #838
Thank you @BBaoVanC for a great and detailed comment. This is what makes the lives of maintainers much easier!

The suggestion you posted looks pretty good already. Maybe you could open a Pull Request to allow others to weigh in on the implementation side? Might be a good idea to link to a live version, either on your website or via some service like `jsfiddle`.

[2022-04-23 23:31] ix5 commented on #346
This might be implemented during a more comprehensive overhaul of the whole logging and notification architecture. Closing as stale since no one wants to work on this.

[2022-04-23 23:31] #346 closed

[2022-04-23 23:38] BBaoVanC commented on #82
I'll try and see what I can do. I haven't ever done much with JS so for that part of the client I might need help. I'll make a draft PR if I can figure something out.

[2022-04-23 23:43] ix5 commented on #82
That's what I mean:

[code]

You could then use `.isso-comments[data-hash="0bb73c4f5196"]` as a style selector, or e.g. `.isso-comments[data-hash="0bb73c4f5196"] > .isso-author` for styling only the author's name.

[2022-04-24 00:44] ix5 commented on #838
Tracked in linked PR: https://github.com/posativ/isso/pull/845

[2022-04-24 00:44] #838 closed

[2022-04-24 09:04] Kerumen commented on #842
You are right about SPA. I do integrated Isso in a SPA and needed to call `fetchComments` while navigating between posts to load the new comments. Otherwise we were stuck with the comments from the previous post. I can have a look but I have literally no knowledge at all about the codebase and how to develop locally so it can take some time for me to tackle this.

---

Yes of course! I can do a se

[2022-04-24 10:04] ix5 commented on #842
Just quickly re:

- Clone repo
- `make init js` (will install npm packages and generate js bundles)
- `virtualenv .venv && source .venv/bin/activate && pip install -e .`
- `isso -c share/isso-dev.cfg run`
- Visit [http://localhost:8080/demo/index.html](http://localhost:8080/demo/index.html) in browser

Then you can edit js files. With `npm run watch-dev`, you can run `webpack` automatically whenev

[2022-04-24 20:56] BBaoVanC commented on #837
I can probably do this one as well with a pull request, I think it should be easy

[2022-04-25 06:45] Kerumen commented on #842
Thanks for the development steps. I quickly tried to launch the project yesterday and could not reproduce the bug. It seems that in development, `window.Isso.fetchComments()` reload the whole page. I have to dig more.

[2022-04-26 16:34] #837 closed

[2022-04-26 17:00] ix5 commented on #82
Tracked in #844

[2022-04-26 17:00] #82 closed

[2022-04-26 17:26] #630 closed

[2022-05-01 13:43] ix5 commented on #585
Tracked in #854

[2022-05-01 13:43] #585 closed

[2022-05-01 14:03] ix5 commented on #397
Related: https://github.com/posativ/isso/issues/763

[2022-05-01 14:23] ix5 commented on #736
Having visited this again, I'm not sure any "fix" is needed here.

If you have a multi-site setup, you'll have e.g.

`http://comments.foo/`, which is will return a 404 (or 200, if changed) with a list of all `name`s from `[general]`, e.g.
[code]
https://github.com/posativ/isso/blob/535c729cf3ef2ea2438a92ca1e06c517d34c286d/isso/dispatch.py#L49-L50

Then you'll have `http://comments.foo/foo` and `ht

[2022-05-01 14:23] #736 closed

[2022-05-01 14:28] ix5 commented on #562
Will the site admin receive a notification _before_ or _after_ the commenter has verified their email?

Things to think about in terms of the backend:
- `mode` in database
- Can site admins manually override not-yet-verified commenters?
- Where do not-yet-verified comments show up in the admin?

Other aspects:
- How long will verification be stored? At the moment, cookies have a lifespan of 15 min

[2022-05-01 15:39] ix5 commented on #728
Tracked in #855

[2022-05-01 15:39] #728 closed

[2022-05-01 16:11] ix5 commented on #754
Pinging @Lucas-C and @stefangehn (and maybe @Kerumen) now that a working test suite for the client part is in place.

Would be really great if e.g. @Lucas-C could focus on the unit testing part and @Kerumen on the integration testing part?

I have finally managed to document how to set up and run the test suite(s), see:
- [Testing](https://github.com/posativ/isso/blob/master/docs/docs/technical-do

[2022-05-01 20:36] vsajip commented on #736
It's not end-user facing, but developers are users, too :slightly_smiling_face: and I was only thinking to avoid the spurious error message. Anyway, I think the multi-site hosting probably needs to be implemented differently using a single Isso instance, as discussed elsewhere IIRC.

[2022-05-04 19:19] ix5 opened #858 "Optimize and secure Docker image"
The `Dockerfile` might be using non-optimal base images and have too many steps as of now.

I'm no docker expert and pretty much just threw together what I saw in other projects in order to make the image work with newer npm packages in https://github.com/posativ/isso/pull/841.

For instance, we might drop the root user, use some kind of tighter sandboxing, use signed images, only expose to localh

[2022-05-04 19:35] ix5 opened #859 "[client] Clean up and standardize client CSS"
Since we're throwing all user-supplied style overrides overboard with the addition of `isso-` prefixes in https://github.com/posativ/isso/pull/816 anyway, the upcoming 0.13 release might be a great opportunity to review and rewrite some of the CSS that's shipped on the client side.

As a reference point: This is the current CSS: [isso/css/isso.css](https://github.com/posativ/isso/blob/ec30b468dfb6

[2022-05-05 22:53] ix5 commented on #797
Here's my take on an updated preview image (with slight borders), which is more real-life-like than the current preview at http://posativ.org/~tmp/isso-sample.png

![example-slim-border](https://user-images.githubusercontent.com/10212877/167038602-ee6ece09-8267-46e6-9b8f-db81280efdab.png)

[2022-05-07 00:21] ix5 commented on #758
I've tried tackling this by providing a `/syntax` endpoint and generating some kind of small explanatory text based on which `[markup] flags` and `[markup] options` are enabled, as well as based on `allowed-elements`/`attributes`.

The permutations here are already a bit iffy to deal with. What made me abort though was having to now also deal with translations on the server side (the markdown expl

[2022-05-07 19:03] ix5 opened #866 "Translations/i18n incomplete & future of Transifex"
I see for example that only 13 out of 27 languages have the `postbox-notification` string translated.

Isso used to use Transifex ([Isso project at transifex](https://www.transifex.com/wat/isso/)) but since no recent contributions had come from there, all references and import scripts were removed in #824 (ddbe6524c3a1958d93362a2f25b6b4c3d004f0a2, beb85e84ea7dd6f087239629acd12f4fd027eff7, d3185ec3

[2022-05-09 18:54] erdoukki opened #871 "Error (resolved) while trying to create Docker on ARM64"
On ARM64 with OpenWrt if I try to create the Docker container with the default
[code]
It fail with an error about package or pip package, it depends of the version of the GIT code...

In facts it is only a known problem about resolution, and we need to use a switch to get the DockerFile works fluently.
[code]
Will work without problem.
I share and close the issue !

Thanks

[2022-05-09 18:54] #871 closed

[2022-05-14 02:32] BBaoVanC commented on #754
Just want to note this down here before I forget, it would be nice to look into using [Codecov](https://about.codecov.io/) which can show test coverage on pull requests.

[2022-05-14 19:36] ix5 commented on #771
Tracked in #869

[2022-05-14 19:36] #771 closed

[2022-05-14 20:28] ix5 commented on #754
I'm also very partial to having coverage be more visible. However, adding a dependency on an external proprietary service still doesn't sit quite right with me.
I can see the diff stats presented to contributors being quite fancy and useful, though.

Points of reference:
- https://www.valentinog.com/blog/jest-coverage/
- https://hynek.me/articles/ditch-codecov-python/

Jest has `--coverage` and ca

[2022-05-14 20:37] ix5 commented on #111
Currently, the server part supports changing name and website; this is just not exposed to the user on the client side.

E-mails are used for spam prevention and for notifying users - I'm not sure how we should handle that. Also, should the admin receive _another_ email if someone with an approved/pending comment changed their email and would he have to re-approve the comment?

Would be nice if so

[2022-05-14 21:09] ix5 commented on #465
I thoroughly agree with @Jenselme - the way the whole editing is implemented as `contentEditable` is bound to cause pain. I converted the admin to use `textarea` a while back, see https://github.com/posativ/isso/pull/793

This is currently the "solution" for converting between HTML and plaintext:
https://github.com/posativ/isso/blob/668882f6c551c0cb979139ad62b2a97a0c968914/isso/js/app/utils.js#L29

[2022-05-16 00:39] BBaoVanC opened #874 "Email notifications for comment replies say "Re: New comment posted on None""
## Checklist
- [x] I am running the latest version. Installing Isso from GitHub from the `master` branch does not fix my issue
- [x] I have checked the [troubleshooting guide](https://posativ.org/isso/docs/troubleshooting/)
- [x] I have searched the [open issues](https://github.com/posativ/isso/issues), but my issue has not already been reported

## What is not working?
When an email notification

[2022-05-16 15:07] ix5 commented on #758
That would require us to build or integrate some sort of WYSIWYG editor. As long as it stays simple, I'm all for that. The current `contentEditable` way is causing a lot of issues. I'd say to investigate how e.g. [Quill.js](https://quilljs.com/) and other editors do this.

Yes, that's the least we should do. But keep in mind that each server might be configured differently (has tables enabled/disa

[2022-05-16 15:09] ix5 commented on #465
That'd be nice as an _addition_, but keeping the "traditional" admin still makes sense to me.

Feel free.

[2022-05-16 16:38] BBaoVanC commented on #758
What I had in mind was just like how on GitHub when you press the buttons, it just inserts the markdown code. That would keep it as plaintext. Although Quill.js does look pretty cool, and I imagine it would be nicer, and definitely worth looking into.

If you haven't already done anything, I'll have to try and experiment myself with Quill.js.

Hmm that definitely complicates things. I wonder if we

[2022-05-16 22:07] ix5 commented on #758
The GH way definitely appeals to me, although it certainly assumes a bit of technical savvy/not being intimidated by weird symbols as a non-technical user.

Feel free to experiment with quill, but keep in mind our bundle is already heavily overloaded (60kb vs e.g. commento's ~10kb? or schnacks's ~8kb).

Per Isso's defaults, e.g. images are disallowed and LaTeX extensions are disabled. Would we wan

[2022-05-16 22:35] BBaoVanC commented on #465
The whole part about the indentation not being preserved when editing seems to be fixed if you just add `white-space: pre-wrap` to `.isso-textarea`. However it still inserts and removes random newlines in weird places, I guess there must be some mistake in the ugly HTML <-> plaintext solution that you sent above.

Editing anything on the admin page seems to work fine currently..? However there are

[2022-05-16 22:44] BBaoVanC commented on #758
Well I started playing with it for a couple minutes, then realized that it probably is nicer to just have the split plaintext & preview menu (like it already is).

Also, I tried out your `syntax-page` branch, but when going to the `/syntax` endpoint, I just get an error which I don't really understand:

[code]

[2022-05-16 23:11] ix5 commented on #758
:+1:

I don't quite remember how I set up the `.po`/`.mo` translation files, but in my commit message, I noted down these commands:
[code]

Also keep in mind that that branch was just my experimentation, and I decided for myself that dynamically generating the syntax docs (and also in different languages) is just a giant pain. YMMV.

Which one is?

[2022-05-16 23:24] BBaoVanC commented on #758
Having a separate /syntax page which we can then link somewhere in the postbox area.

[2022-05-16 23:35] BBaoVanC commented on #874
Yeah they weren't receiving titles. But it does work if I add the `data-title` attribute to my `#isso-thread`. Then I guess I'll have to go through and update the title in my database for my existing posts where the title is null.

[2022-05-16 23:48] ix5 commented on #874
The parse logic probably ought to be changed (I think it also fails if you have nested elements inside h1 tags, e.g.`<h1><span>My title</span></h1>`)

Note that title detection from the server side seems fine in the wild:
Adding `https://bbaovanc.com` to `hosts` of a local dev instance and then
[code]
works fine, title gets created.

As for titles sent by the JS taking precedence:
https://github.c

[2022-05-25 08:58] ix5 commented on #765
Tracked in https://github.com/posativ/isso/issues/885

[2022-05-25 08:58] #765 closed

[2022-05-26 11:15] mhellmeier opened #888 "Add GDPR Checkbox"
## Checklist
- [x] I am running the latest version. Installing Isso from GitHub from the `master` branch does not fix my issue
- [x] I have checked the [troubleshooting guide](https://posativ.org/isso/docs/troubleshooting/)
- [x] I have searched the [open issues](https://github.com/posativ/isso/issues), but my issue has not already been reported

## What is not working?

When using the plugin in t

[2022-05-26 22:28] ix5 commented on #888
Hello Malte, while I agree that preserving user privacy and getting their consent is really important, we shouldn't be contributing to the _Web of Checkboxes™_ and popups that currently exists out there. Instead, we should get consent only **when really required** and when it makes sense, **in context.**

Isso currently doesn't require users to enter _any_ data about themselves, unless the site ad

[2022-05-27 14:21] mhellmeier commented on #888
Thanks a lot for your detailed answer!

If I understand it correctly, every comment system needs such a checkbox to be GDPR compliant. Even if the data isn't used for other purposes and doesn't make public (like your mail example) you have to explicitly ask for consent. Just read the first 3 sentences of this blog post:
https://www.greengeeks.com/tutorials/add-a-checkbox-in-wordpress-comments-for-

[2022-05-28 01:58] BBaoVanC commented on #888
I feel that geolocation shouldn't be relied on. Plus some people could consider it *worse* for privacy. It also sounds like GDPR applies to EU users that are using a VPN to a non-EU country. It's probably better to be safe and show the checkbox all the time.

But if we can't read the email address server-side, then we can't send email notifications. To me that's the primary use of storing email ad

[2022-05-28 18:24] ix5 opened #891 "[Architecture] Multi-Site handling"
The current way Isso handles multi-site setups is quite confusing and causes many headaches internally. It has grown organically rather than being an intentionally designed feature.

We should decide whether we want to support multiple sites in a single instance (and admin) or if we want to continue the multi-instance `dispatch` "solution".

Issues:
- Migration of existing data and setups
- Handli

[2022-05-28 18:25] ix5 opened #892 "Call for testing: Version 0.13 will be released soon"
The release of Isso version 0.13 is approaching.

### Open issues
~~See [milestone: 0.13](https://github.com/posativ/isso/milestone/5)~~ **None**

### Changes
The main changes are
- the port of the Javascript client code to `webpack` instead of `require.js`
- adding of `<label>`s, using a `<textarea>` instead of buggy `contentEditable` fields
- prefixing all CSS classes with `isso-`.

Pretty **Cha

[2022-05-28 19:55] ix5 commented on #888
You are correct there.

The course of action should be: Save plain email address to DB if subscribed to at least one thread. If unsubscribed from all threads, hash email and only continue storing that. If not subscribed to anything, immediately hash email and only save that to DB.
Since even email hashes could be considered PII (you can query the DB if they are present or not), *anytime* we collec

[2022-05-28 20:37] BBaoVanC commented on #891
Any way we can poll existing users for how many people actually use the multi-site feature? If it's low, then I feel that removing multi-site in favor of keeping Isso as a simple comment system would be best. And people can run multiple instances of Isso if they need multi-site.

I don't entirely understand how Isso handles multi-site internally, I'd have to go look at the code more to figure it o

[2022-05-28 20:57] ix5 commented on #891
Yes, surveying people of how they actually use Isso would be hugely beneficial. Maybe opening an issue or discussion and let people comment on it with their usecase. I feel like we could give some example points that we'd be interested in, but not constrain the answers too much or ask for too much redundant info. Of course, people active on the bugtracker are not representative of users as a whole

[2022-05-28 21:51] ix5 commented on #487
Fixed by #488

[2022-05-28 21:51] #487 closed

[2022-05-28 21:52] ix5 opened #894 "[meta] Client refactor or rewrite"
Currently, the client is heavily DOM-dependent and written in ES5-compatible syntax.
Testing - although some great improvements with `Jest` and `puppeteer` have been made - is still hard to do.

We cannot currently make use of real `Promise` or `await` functionality and other ES6 goodies. The justification for sticking with older source code syntax has been laid out in https://github.com/posativ/i

[2022-05-28 22:11] ix5 commented on #874
With `title` set to `null`:
[code]
and using `.get()` instead of checking `not in data` also scrapes the title just fine. Opening a PR.

[2022-05-28 22:27] #874 closed

[2022-05-29 00:03] BBaoVanC commented on #894
Continuing from the discussion in my PR

Better test coverage is a great start. TypeScript is very similar to JavaScript; it looks to me that it would be easy enough to understand quickly, especially if the contributor is familiar with other static/strongly typed languages.

I tried to look into TypeScript's popularity, and according to GitHub, TypeScript is 4th, while JavaScript is 1st. Stack Ove

[2022-05-29 01:35] BBaoVanC commented on #894
While looking at the experimental client code, I think I sort of see how `prototype` is used to create classes. To me, this is really messy and hard to understand. I tried to make a quick example of what I think the example you put in the README.md.

<details>
<summary>JS</summary>

[code]

</details>

<details>
<summary>TS</summary>

[code]

</details>

To me the TypeScript example is a lot clean

[2022-05-29 11:21] mhellmeier commented on #888
a) Config left untouched: Site admin uses Isso-provided privacy policy
b) Config set to custom URL: Site admin has own privacy policy
c) Config set to null: Site admin has surrounded comment box with their own notes and privacy links or has already collected consent for processing comments from a cookie banner elsewhere. This would hide the "privacy" link

If I understand it correctly, the user ha

[2022-05-29 15:22] ix5 commented on #894
That TS only pulls in one mono-package (plus a few for `ts-loader`) looks very appealing to me. You can progressively start using TS/modern features and use TS to compile back to ES5.
If it's that easy and we can skip adding all the babel-related bloat, I'm all for using TS.

I added you as a collaborator to the repo, feel free to push.

[2022-05-29 15:49] ix5 opened #896 "[meta] Website move and re-org"
Since @posativ is not as involved in the project as he used to be, Isso will transition to a community-owned and maintained project under its own umbrella organisation.

As you might have noticed, https://posativ.org/isso/ now redirects to https://isso-comments.de.

See:
- https://github.com/posativ/isso/pull/897

Some other organisational changes will follow soon.

[2022-05-30 17:04] #465 closed

[2022-05-30 21:48] BBaoVanC commented on #894
I've been taking a look and I feel like the way the experimental rewrite is structured is more complicated or harder to understand than the original source here. And I don't know if rewriting it in TS is as worth it as I thought. Currently I'm trying to figure out if I can make my own version in React & TS to see if it can bring any better structure (hopefully without making it too complicated eit

[2022-05-31 16:48] ix5 commented on #894
I share your hesitation with rewriting things from scratch. You'll notice that the experimental client still shares most of its code with the stock one, so a "rewrite" is probably not the correct term to use.
I had to make a few structural changes to accommodate the following issues (which I still don't consider fixed):
- A lot of places rely on the `config` object/instance. The config, however, n

[2022-06-04 12:03] ix5 commented on #338
Should be fixed by https://github.com/posativ/isso/pull/861

[2022-06-04 12:03] #338 closed

[2022-06-04 12:06] ix5 commented on #552
Tracked in #870

[2022-06-04 12:06] #552 closed

[2022-06-05 17:58] ix5 commented on #842
Should mostly be fixed by https://github.com/posativ/isso/pull/821
Still not entirely sure if any of that code is racy, but looks fine for now.

[2022-06-05 17:58] #842 closed

[2022-06-05 18:00] #498 closed

[2022-06-05 18:01] #896 closed

[2022-06-05 19:08] ix5 commented on #892
**Please test extensively!**

You can download a build of `isso 0.13.0.beta0` here: [isso-0.13.0b0.tar.gz](https://github.com/posativ/isso/files/8840577/isso-0.13.0b0.tar.gz)

Testing using the newly provided official [Docker](https://isso-comments.de/docs/reference/installation/#using-docker) image has also been documented (using `0.13.0.beta0`).

[code]

[2022-06-05 22:54] ix5 commented on #155
Error message looks okay now
https://github.com/posativ/isso/blob/0b0737802b45e6602627d30d95454839dc708bb2/isso/js/app/api.js#L23-L26

[2022-06-05 22:54] #155 closed

[2022-06-05 23:00] ix5 commented on #131
Closing in favor of https://github.com/posativ/isso/issues/673, which is quite similar

[2022-06-05 23:00] #131 closed

[2022-06-12 18:56] BBaoVanC commented on #892
Sorry that I didn't notice this earlier but I just noticed that in `admin.html`, it should be `/login/` instead of `/login` for the form. It didn't seem to cause any issue on my live Isso instance with HTTPS, but when tesitng locally I get a 405 method not allowed when trying to log in.

[2022-06-12 19:03] ix5 commented on #892
Just what I was looking at as well ;) 0.13.0 is live now. Let me know if you find any other issues, but I think 15 days should be enough wait time.

[2022-06-12 19:03] #892 closed

[2022-06-13 07:24] #467 closed

[2022-06-15 19:22] BBaoVanC commented on #894
Interesting news, IE is now [out of support](https://techcommunity.microsoft.com/t5/windows-10/internet-explorer-to-microsoft-edge-with-ie-mode-blog-series/m-p/2617124#.YQxDqoXUgjo.link) as of today. And it was really the only reason we weren't using more modern features like CSS variables and ES6 right?

What do you think about updating some of the CSS and JS in the near future?

[2022-06-19 18:17] ix5 commented on #894
M$ unilaterally declaring something out-of-date doesn't magically make people stop using it.
The decision to maybe wait a bit on "modern" features such as CSS vars etc was based on percentages from caniuse, so not only IE versions, but all browsers that end users currently (still) use.

That being said, if we get ES5 compat "for free" when using TypeScript, I'm all for that.

CSS vars: Caniuse cur

[2022-06-19 18:26] ix5 commented on #888
(Related: https://github.com/posativ/isso/issues/445)

[2022-06-19 22:21] dbrgn commented on #858
Another aspect: Automatically build and push the currently supported version(s) on a regular basis (e.g. every week). This ensures that security updates in base images are applied automatically.

Here's an example on how it could work: https://github.com/dbrgn/churz/blob/f0a27a9792c8064296077c0a4d444e79412806ec/.github/workflows/ci.yml#L31-L49 (Note the "schedule" trigger at the top.)

[2022-06-27 18:29] ix5 commented on #888
@mhellmeier you have correctly identified the need for separating the consent checkbox and a link to the privacy policy.

The server config is not the right place for this (no i18n access), so the must go into the client config as `data-isso-*` attributes.
So you'd have a translatable string for the checkbox text ("By sending this form I agree...") and a link with a link text to the privacy policy

[2022-07-03 23:23] ScootRay opened #912 "Overriding translation string fails for count.min.js"
Hi,

I'm trying to adjust the capitalization of One Comment to One comment & 0 Comments to 0 comments by inserting this line in the client embed code:

[code]

This doesn't work, the browser shows it verbatim, i.e. "One comment\n{{ n }} comments" so I'm guessing this isn't possible where variables are involved, right?

Any ideas for a workaround?

Thanks!
Ray

[2022-07-06 22:36] ix5 commented on #912
You've found a valid bug, thank you.
My idea for a fix would be:
[code]

I'm still working on tests though. You can tackle this issue as well if you like.

[2022-07-14 01:20] ScootRay commented on #19
Is anyone using Bussator? I can't get it installed for some reason. I reached out to the author to see if his code was still viable and haven't heard back.

Ray

[2022-07-16 17:15] cjquines opened #913 "Prevent clicking submit twice"
In the following logic, we clear the comment text or close the box only after the API call succeeds. But if the API call takes a few seconds, then excited users might press "submit" multiple times. Maybe disable clicking the "submit" button as soon as it's clicked the first time?

https://github.com/posativ/isso/blob/10e5a90df94d8f1b710f5b1d9a22172fb84e8978/isso/js/app/isso.js#L109-L122

[2022-07-17 12:04] ebanDev opened #915 "Import from commento"
Hey ! I'd like to migrate from Commento but I didn't found any way to "convert" the database to the isso format :/

[2022-07-17 14:54] flux77 opened #916 "Add option to remove "Website" form field"
In the default Isso comment form, there are three form fields: content, name, email, and website. If I have no use for the "Website" form field, how do I remove it? Of course, I could remove it by using some CSS rules, but is there a better solution?

Perhaps there could be a `data-isso-website-field` option that controls whether or not to render the "Website" field.

![Isso](https://user-images.g

[2022-07-19 12:04] hariom147 opened #917 "isso-comments.de down"
I'm sure you have noticed and are working on it, but just in case not:

[isso-comments.de](https://isso-comments.de) is down since this morning.

[2022-07-19 12:15] cambid commented on #917
@hariom147 Thanks for bringing this up. But the page is accessible here (Switzerland with Init7) without any problems and also testing with https://www.uptrends.de/tools/uptime is working successfully.

Do you get an error message, and can you provide a screenshot from it maybe?

[2022-07-19 13:22] ix5 commented on #917
The website (including documentation) is hosted on GitHub Pages.
I can't see any issues in the [Incident History](https://www.githubstatus.com/history) and my Uptime monitor for website and demo API didn't indicate anything either.

Might be Cloudflare/GH CDN blocking your IP or otherwise connectivity problems on your end.

[2022-07-19 13:25] ix5 commented on #916
This could probably be done with CSS, but in the interest of accessibility, we should have a server-side options matrix:

Field | Status
------|-------
Name (Author) | Disabled / Optional / Required
Email | Disabled / Optional / Required
Website | Disabled / Optional / Required

[2022-07-19 13:33] ix5 commented on #915
Hey, thank you for raising this issue.

So far, it seems nobody has written how to switch from commento to Isso in the docs. Features can only happen if someone works on them.

It would be great of you to help others work on this:

1. Provide an example export file
2. Take some steps to document the commento export format or DB schema (or link it from somewhere)
3. (Optional) Begin working on the

[2022-07-20 00:08] BBaoVanC commented on #917
Checked myself just now and it looks like there's something wrong with the DNS record (maybe DNSSEC related?)

[code]

See the line there that starts with `EDE: 6 (DNSSEC Bogus)`

[2022-09-05 22:47] flux77 opened #924 "Why does data-isso-id need to be written twice?"
According to the documentation at https://isso-comments.de/docs/reference/client-config/?highlight=data-isso-id, there are two places where `data-isso-id` could be written: in the `<script>` tag, or in the tag containing the comments (i.e. `#isso-thread`). The documentation for `data-isso-id` was added in commit 30f0c7eeb895163339d3515fc15f6d408137fee6. Why are there two places to write `data-isso

[2022-09-09 02:54] taoeffect opened #925 "Isso doesn't work with Sub-URI multi-site / multiple website setup"
## Checklist
- [x] I am running the latest version. Installing Isso from GitHub from the `master` branch does not fix my issue
- [x] I have checked the [troubleshooting guide](https://isso-comments.de/docs/guides/troubleshooting/)
- [x] I have searched the [open issues](https://github.com/posativ/isso/issues), but my issue has not already been reported

## What is not working?

According to this d

[2022-09-09 03:53] taoeffect commented on #925
I figured it out!

Something that's not mentioned in the [Sub-URI](https://isso-comments.de/docs/reference/multi-site-sub-uri/#sub-uri) section is that in order for that to work you **MUST** modify the `data-isso` attribute on the included script to pass in `/isso` like so:

[code]

The original documentation said it should be `data-isso="//comments.example.tld/"`, and there was nothing saying to

[2022-09-09 04:13] taoeffect opened #926 "Issue with custom CA certificates (was: Posting comments doesn't work with '404 not found')"
## Checklist
- [ ] I am running the latest version. Installing Isso from GitHub from the `master` branch does not fix my issue — I am using the latest docker image: `ghcr.io/isso-comments/isso:0.13.0`
- [x] I have checked the [troubleshooting guide](https://isso-comments.de/docs/guides/troubleshooting/)
- [x] I have searched the [open issues](https://github.com/posativ/isso/issues), but my issue h

[2022-09-09 05:06] taoeffect commented on #926
OK - here's something super weird: I *can* post comments to posts that already have comments thanks to the wordpress import tool.

But on any posts that have zero comments, it doesn't work.

[2022-09-09 05:33] taoeffect commented on #926
OK - figured it out!

This is unique to my setup, and perhaps this can help someone else who has a similar setup: the problem is related to this line (and btw, there's a bug here because `%s` is printed instead of the URI): https://github.com/posativ/isso/blob/13bcfbf41d92eebadfdf78db96dfbff6ada15095/isso/views/comments.py#L305

The issue is that I was using a local setup with a local root CA to s

[2022-09-09 05:47] taoeffect commented on #926
Ah ha! This [is possible!](https://isso-comments.de/docs/reference/client-config/) 😄

Now having done that everything works and there's no need to copy the CA cert in or access the page over HTTP for it work locally!

Perhaps this issue could be turned into a request for improving the error that's reported by the server?

There's already a bug in the error message (the %s thing), but what would be

[2022-09-09 07:19] ix5 commented on #925
Thank you for reporting and great that you managed to figure it out yourself.
Would you mind submitting a PR to the docs that helps others avoid your issue?

[2022-09-09 07:26] ix5 commented on #926
Improving the error handling is on Isso's TODO list, see https://github.com/posativ/isso/issues/673

You're most welcome to submit a PR to make this issue more clear (for now, at least on the JS console.log)

[2022-10-18 20:52] mhellmeier opened #931 "Responsive Layout (too much width on mobile devices)"
## Checklist
- [x] I am running the latest version. Installing Isso from GitHub from the `master` branch does not fix my issue
- [x] I have checked the [troubleshooting guide](https://isso-comments.de/docs/guides/troubleshooting/)
- [x] I have searched the [open issues](https://github.com/posativ/isso/issues), but my issue has not already been reported

## What is not working?

Isso isn't fully re

[2022-10-21 19:44] ix5 commented on #931
Your site looks fine to me even with width reduced to 300px on Firefox responsive view.

Could you add a screenshot of the exact comment you're referring to? Or is your issue that the code elements your commenters pasted are not rendering as code blocks?

[2022-10-23 20:00] mhellmeier commented on #931
I just made a screenshot in the Google Chrome developer tools with the responsive view set to _iPhone 12 Pro_:

![Example](https://user-images.githubusercontent.com/1036284/197415371-6b37f25f-1ab8-4d1f-ada5-015eca41adac.png)

The form and long comments are too big for the small screen size.

[2022-10-24 09:52] ix5 commented on #931
It's your own custom css causing this (weirdly only on chrome):
[code]
Remove this, https://github.com/posativ/isso/issues/815 is resolved.

[2022-10-24 09:52] #931 closed

[2022-10-24 21:29] mhellmeier commented on #931
Thanks for the hint but it doesn't solve the problem because really long words (for example this/very/very/very/very/very/very/very/very/very/very/very/very/long/path/on/my/personal/computer/) will crash the max width.

I will solve it in a small pull request!

[2022-11-18 09:50] tribut opened #935 "Docker: isso:latest still points to 0.12.6"
`ghcr.io/isso-comments/isso:latest` points to an image of isso version 0.12.6.

I would have expected it to be isso 0.13.0, given that 0.13 was released in June and [the README states](https://github.com/posativ/isso#docker) (emphasis mine):

[2022-11-20 09:09] ix5 commented on #935
`latest` now points to `0.13.0`, see https://github.com/isso-comments/placeholder/pkgs/container/isso

Thanks for notifying!

We ought to automate the release process more.

[2022-11-20 09:09] #935 closed

[2022-11-22 22:20] mgc8 opened #936 "Markdown extensions to support Math, Tables, etc. not working"
## Checklist
- [x] I am running the latest version. Installing Isso from GitHub from the `master` branch does not fix my issue
- [x] I have checked the [troubleshooting guide](https://isso-comments.de/docs/guides/troubleshooting/)
- [x] I have searched the [open issues](https://github.com/posativ/isso/issues), but my issue has not already been reported

## What is not working?
The documentation [h